[2021-11-19 19:05] bobbinth opened #10 "Implement comment parsing"
Currently, the assembler does not support comments in the source code. We should implement parsing of comments according to the spec described [here](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#Comments).

[2021-11-19 19:09] bobbinth opened #11 "Implement handling of field operations"
Currently, the assembler handles only a limited set of field operations. We should expand it to support all operations mentioned in the [specs](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#Field-operations).

This would also require updating VM instruction set to support missing operations.

[2021-11-19 19:17] bobbinth opened #12 "Implement handling of u32 operations"
We should add support for u32 operations in v0.2 release according to the specs described [here](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#u32-operations).

This will also require updating VM instruction set to support u32 operations.

[2021-11-19 19:19] bobbinth opened #13 "Implement stack manipulation operations"
We should implement stack manipulation operations in v0.2 assembler according to the specs described [here](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#Stack-manipulation).

The basic idea is that we already have parsers stubbed out for stack manipulation instructions [here](https://github.com/maticnetwork/miden/blob/next/assembly/src/v1/parsers/stack_ops.rs) and we also have the VM instructions for

[2021-11-19 19:20] bobbinth opened #14 "Implement input/output operations"
We should implement input/output operations according to the specs described [here](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#u32-operations).

This will also require updating VM instruction set to support missing operations.

[2021-11-19 19:29] bobbinth opened #15 "Implement cryptographic operations"
We should implement cryptographic operations in v0.2 assembler according to the specs described [here](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#Cryptographic-operations).

This will also require updating VM instruction set to support missing operations.

[2021-12-09 20:26] robinsingh1 opened #16 "Project Status Question"
Hi there,

Is Miden ready to start developing on for developers or would it be advisable to wait for a later release ?  Excited about the project but just wanted to get a sense of how stable the APIs are and what release version is targeted at new developers.

Thanks so much :)

Best,

[2021-12-09 20:27] robinsingh1 opened #17 "Project Contributions"
Hi there,

Is there a way to start contributing to Miden ?  Excited about the project would love to get involved in some capacity

Best,

[2021-12-09 20:55] bobbinth commented on #16
Thank you for the question! I'd say it is a bit early to start building on Miden VM yet - but it's not too early to start learning how it works.

We'll be releasing specs for the new assembly language in a week or so. The basic implementation of the VM supporting these specs will follow soon thereafter. This will provide a much more stable external interface against which we'll try to minimize bre

[2021-12-09 21:02] bobbinth commented on #17
Yep - in the next couple of weeks I'll write up quite a few more issues, which will hopefully be simple enough for people to get started. In the meantime, the best way forward is to explore some of the project internals (in the [next](https://github.com/maticnetwork/miden/tree/next) branch) and ask questions :)

[2021-12-14 10:25] diegomrsantos commented on #10
Is doing one pass just to remove the comments an acceptable way of implementing this?

[2021-12-14 23:02] grjte commented on #10
Just to clarify - comments be anywhere, right? Including within procedures, and outside of both procedures and scripts?

[2021-12-14 23:05] bobbinth commented on #10
Yes - this is correct. But the nice thing of handling at the `TokenStream` level is that tokens are iterated over before we need to worry about procedures, scripts etc.

[2021-12-15 21:26] bobbinth commented on #10
Closed by #20

[2021-12-15 21:26] #10 closed

[2022-01-06 07:03] bobbinth commented on #13
Closed by all the linked PRs

[2022-01-06 07:03] #13 closed

[2022-01-09 10:32] grjte opened #43 "Establish consistent pattern for testing exact errors"
As discussed in PR #40 , we want tests to be checking for exact errors according to Rust best practices.

TL;DR: there are different options and no perfect consensus, so we should make an opinionated decision

## Background

It seems like Rust actually doesn't handle error testing as ergonomically as most other things, so there isn't an opinionated "right answer." Most errors in Rust implement the

[2022-01-09 10:55] grjte opened #44 "Consider reformat of pushw assembly instruction"
As [discussed](https://github.com/maticnetwork/miden/pull/40#discussion_r780417043) in the PR implementing parsing of pushw, it may make sense to allow the pushw instruction to take a single 32-byte hex value either instead of or in addition to the current approach of taking 4 inputs of 1 element each.

This is inspired by this contrived but strange example with the current implementation:
```let

[2022-01-09 20:04] bobbinth commented on #44
Another option worth considering is removing separation between `push` and pushw` instruction from the assembly. We could have just a single `push` instruction, and it could take a variable number of arguments. For example, all of these could be valid:

* `push.1` and `push.0x1` (8 bytes)
* `push.1.2` and `push.0x0...` (16 bytes)
* `push.1.2.3` and `push.0x0...` (24 bytes)
* `push.1.2.3.4` and `pu

[2022-01-10 19:58] bobbinth commented on #44
Another, more radical, idea that came to mind: maybe we should re-factor all assembly i/o instructions to be grouped around four verbs: `push`, `pop`, `load`, `save`. Then, our current set of instructions could be mapped as follows:

`push` instructions push value(s) from the specified source onto the stack:
* `push.const.xyz` - similar to the current `push`/`pushw` (we could also omit the `const`

[2022-01-11 07:54] bobbinth commented on #43
Thank you for such an exhaustive description! I'm thinking we can go with the first option since we don't rely `std::io::Error` and adding `PartialEq` to all errors shouldn't be too big of an issue.

[2022-01-11 08:36] grjte commented on #43
Sounds good to me!

[2022-01-11 16:39] grjte commented on #44
My take on these, in reverse order -

I prefer the last option. I think it's clear, and it groups everything semantically by the effect on stack. My notes are:
* ```push.const.xyz```: I would lean towards dropping the ```const```. This op provides immediate values, whereas the other ```push``` ops are pushing values from another (specified) source, so I think having just push + immediate values ma

[2022-01-12 19:06] bobbinth commented on #14
Closed by:
- #24
- #37
- #40
- #48

[2022-01-12 19:06] #14 closed

[2022-01-13 19:31] #43 closed

[2022-01-13 19:56] bobbinth opened #52 "Hash operation consistency"
There are currently some inconsistencies in how we've implemented hashing operations. Specifically:

* In the VM, `RPPERM` to compute *permute(A, B, C)*, expects the stack to be arranged as `[A, B, C, ...]` where *A* is at the top of the stack.
* In the assembly, `rpperm` and `rphash` operations assume that the stack is arranged as `[C, B, A, ...]` where *C* is the capacity portion of the sponge a

[2022-01-14 11:52] grjte opened #55 "Incorrect doc comments in the processor"
The sys_ops file in the processor is mis-commented - it has i/o and push comments instead.

I'd be happy to fix if you want, but I know there's a lot of active work in the processor right now.

[2022-01-14 16:50] grjte commented on #52
I guess it depends on how involved the Rp64_256 update would be, but I would lean towards preserving efficiency at this stage. It will certainly be easier to adjust now than later

[2022-01-14 19:06] bobbinth commented on #55
Fixed by #56

[2022-01-14 19:06] #55 closed

[2022-01-18 17:35] bobbinth commented on #15
Closed by #51 and #61.

[2022-01-18 17:35] #15 closed

[2022-01-19 07:38] bobbinth opened #65 "Machine architecture for Miden VM"
Miden VM is currently a stack machine, and while we are fairly far down the path of implementing it as such, it's worth listing pros and cons of different architectures, and taking another look at the alternatives.

I have the following architectures in my consideration set:
* **Stack machine**: all instructions work with the top of the stack, and the stack can grow fairly large (unlimited, for al

[2022-01-20 07:37] bobbinth commented on #65
One thing that can alleviate some of the cons for the stack machine architecture (suggested by @aszepieniec) is to set some minimum stack depth.

For example, we could set minimum stack depth at 16. Thus, any operation which results in the stack shrinking to less than 16 (e.g., `DROP`, `ADD`, `MUL` etc. when stack depth is 16) would fail.

One nice thing about this is that enforcing this constrain

[2022-01-20 20:40] bobbinth commented on #11
Closed by #18 and #66

[2022-01-20 20:40] #11 closed

[2022-01-21 03:34] bobbinth commented on #52
@grjte Rp64_256 has been updated as a part of this PR: https://github.com/novifinancial/winterfell/pull/72

So, now we can update `winter-crypto` dependency to v0.3.2 and make the implementation of hashing consistent across various crates (basically, option 3 from above).

[2022-01-21 05:29] bobbinth opened #67 "Additional advice sets"
Advice sets ([src](https://github.com/maticnetwork/miden/blob/next/core/src/inputs/advice/mod.rs#L11)) are used to provided structured non-deterministic inputs to the VM. Currently, the only concretely implemented advice set is a Merkle tree. But anything that meets the requirements of an advice set interface could also work. The requirements of the interface are roughly as follows:

* An advice s

[2022-01-21 05:36] bobbinth opened #68 "Debug operation"
We need to implement the `debug` operation according to the specs described [here](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#Debugging). Implementing this operation would require:

1. Implementing an options struct for the `Debug` operation enum [here](https://github.com/maticnetwork/miden/blob/next/core/src/operations/mod.rs#L353).
2. Implement parsing of the assembly instruction (will need to be

[2022-01-21 05:44] bobbinth commented on #44
I agree that organizing input/output instructions around four verbs: `push`, `pop`, `load`, and `store` (or `save`) is cleaner. My only hesitation is future extensibility of this scheme. For example, at some point, we want to introduce an instruction which reads a word from an advice tape or memory and instead of replacing top 4 stack elements with it, adds values to the top stack elements.

With

[2022-01-21 08:59] grjte opened #70 "unexpected stack underflow with u32split"
## TL;DR:

There seems to be an issue in one of the 2 following places:
-  a problem with how the stack depth is managed for operations that output more elements than they take as inputs
- a bug in the check_depth requirement in ```op_u32split``` + a lack of documentation about stack requirements for that op

## Description

According to the assembly ops specs [here](https://hackmd.io/YDbjUVHTRn64

[2022-01-21 09:06] grjte commented on #52
Great! Do you want me to take this on?

[2022-01-21 17:35] bobbinth commented on #52
Yes! That would be great! I'll assign this issue to you.

[2022-01-21 17:48] bobbinth commented on #70
Great catch! The bug is in the way stack depth is managed. Specifically, we increment the stack depth when we call `stack.shift_right()` but the `stack.set()` checks for stack depth before it can set a given item. So, for operations which shift the stack to the right, if `stack.set()` comes before `stack.shift_right()`, we'll get a panic.

One way to address this is for operations which add an ite

[2022-01-21 18:21] bobbinth opened #71 "u32testw parser does not output correct VM instruction sequence"
As mentioned in the comment [here](https://github.com/maticnetwork/miden/pull/62/files#r789429689) current implementation of `u32testw` assembly instruction parser (`parse_u32testw()`) produces an incorrect instruction sequence. We could fix it as suggested in the comment, but there might be a better way.

In general, we want `u32testw` to leave `1` at the top of the stack if all 4 top stack eleme

[2022-01-21 18:25] grjte commented on #70
In fairness, that one's important too!

Hm, yeah, I don't like these sorts of "order matters" patterns, unless they're absolutely necessary like Checks-Effects-Interactions in Solidity. However, I don't have a better solution at the moment, and this would resolve the issue so things can move forwards. At least it's a controlled & limited setting, so it's ok with solid testing. Worth letting it mar

[2022-01-21 18:33] grjte commented on #70
For now, I'll fix this with that proposed solution as I continue with the u32ops tests, if that's ok?

[2022-01-21 18:33] bobbinth commented on #70
Yes - I think this works! I can't think of anything better at the moment either.

[2022-01-21 21:15] bobbinth opened #73 "Management of local variables in memory"
As described in the assembly [specs](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA), Miden VM has word-addressable read-write memory. There are a few `load` and `store` instructions which are responsible for moving data between the memory and the stack. These instructions take memory address from the top of the stack.

From code organization standpoint, Miden assembly supports *procedures* and (will su

[2022-01-21 22:16] bobbinth commented on #73
### Option 4

We keep `fmp` as a separate register as in option 3, but we don't modify the semantics of load/store operations. Instead, we define two new operations (better names may be needed):

* `fmp.in` - which translates to `fmt ← fmt + stack[0]`.
* `fmt.out` - which translates to `stack[0] ← fmt + stack[0]`.

Thus, when we want to read/write to/from an absolute memory address, we use loads/s

[2022-01-22 07:03] grjte commented on #71
I think it may need to be clarified that this is for the parse_u32testw assembly op (which uses the U32split machine op), and not for the parse_u32split assembly operation

[2022-01-22 07:31] bobbinth commented on #71
Ah yes! Thank you! Fixed!

[2022-01-22 12:35] grjte opened #74 "u32 assembly parsers for bitwise ops do not fail for out-of-bounds inputs"
As specified by the assembly operations [specs](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA?view#u32-operations), bitwise u32 operations should fail when given inputs >= 2^32.

Currently, the following operations do not fail correctly:
- u32and
- u32or
- u32xor

These errors should be fixed in the in the [Bitwise helper](https://github.com/maticnetwork/miden/blob/next/processor/src/bitwise/mod.rs#L80

[2022-01-22 20:24] bobbinth commented on #74
Actually, after thinking more about this, I think the issue is in the [Bitwsie helper](https://github.com/maticnetwork/miden/blob/next/processor/src/bitwise/mod.rs#L80) rather than in the assembly parser. For operations `U32and`, `U32or` and `U32xor` the bitwise helper should return an error if the inputs out of bounds - so, no need to check for the input validity at the assembly level (but we do

[2022-01-23 07:16] grjte commented on #74
Updated!

[2022-01-25 07:52] grjte opened #76 "u32 assembly parsers for shift/rotate ops fail with legal parameter value 0"
The shift and and rotation operations in the assembly parsers are enforcing parameter bounds on the bit shift value of 1 <= b <= 31, but according to the [assembly specs](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA?view#Bitwise-operations) parameter value b = 0 should be allowed.

This should be fixed in ```parse_u32shl```, ```parse_u32shr```, ```parse_u32rotl```, ```parse_u32rotr``` in the [Assembly

[2022-01-25 20:55] bobbinth commented on #12
Closed by #47, #58, #62, and #72

[2022-01-25 20:55] #12 closed

[2022-01-25 23:12] grjte commented on #44
I think in that case adding a new verb would make sense, and that doesn't really seem problematic to me. But the central question is really just whether you'd rather organize first by "what" is happening or by "where" it's happening. I like the "what" approach, because it seems like it gives a more natural and consistent organization. However, as long as things are consistent it's just a choice &

[2022-01-25 23:25] grjte opened #79 "Update u32 ops proptests in the processor to only test valid cases"
Given that proptest may need different sampling for valid vs. invalid inputs, it makes sense to handle these separately.

As discussed, we've decided to handle error cases in manual tests and only test validity in the randomized tests.

This should be updated in the processor u32 tests [here](https://github.com/maticnetwork/miden/blob/next/processor/src/tests/u32_ops.rs)

_Originally posted by @bo

[2022-01-26 03:29] bobbinth commented on #44
I like the "what" approach better too. So, at this point, it seems like we've settled on *what.where* and the operations we have so far are:

Pushing value onto the stack:
* `push.xyz`
* `push.sdepth`
* `push.mem.addr` - or should this be `pushw.mem.addr`?
* `push.adv.n`

Removing values from the stack:
* `pop.mem.addr` - or should this be `popw.mem.addr`?

Overwrite the values on the stack:
* `lo

[2022-01-26 04:12] bobbinth opened #80 "Standard library organization"
Given that there are already things on the horizon which can go into standard library (e.g., #77), I think it might be a good time to think about how to organize standard library.

I'm inclined to keep things as simple as possible (at least at this point) - so, a few assumptions:
* Let's not worry about user-defined libraries at this point. We can come back to these later.
* Let's assume that stan

[2022-01-26 04:36] bobbinth commented on #70
fixed in #75

[2022-01-26 04:36] #70 closed

[2022-01-26 05:09] itzmeanjan commented on #80
I agree with you that standard library should be placed somewhere, which explicitly defines the intention

I was thinking about `.masm` which clearly shows it's assembly file, but I'm okay to live with `.ma` too :+1:

I think we need something like this otherwise soon it'll be too much of cognitive load while just adding/ fixing these import paths. Also to handle name conflicts we can bring in som

[2022-01-26 17:50] grjte commented on #73
A few points that very minorly affect readability:
- at one point you have```fmt``` instead of ```fmp```
- typo in option 3 when you reset the ```fmp``` by incrementing it again

Option 4 seems very clearly better to me. It gives us the most flexibility, seems pretty clean, and the tradeoffs don't seem to be that big a deal (but maybe I'm wrong). To summarize my understanding (and make sure I have

[2022-01-26 17:58] bobbinth commented on #73
If we go with option 4, we could use a nice abstraction at the assembly level to manage locas. Specifically, in addition to `mem` we can introduce `local` destination for push/pop/load/store instructions. This would work as follows:

When declaring a procedure we would need to specify how many "local" words a procedure will use. For example:
[code]

When the procedure is invoked, all relevant inst

[2022-01-26 18:27] grjte commented on #44
I think it might be clearer to keep the w in all cases where we're operating by word rather than by element. (That's all of the ops for ```mem``` and ```loadw.adv```.)  I could be convinced otherwise, but it's my gut reaction, and adding the w doesn't really break the verb paradigm.

I will reiterate my vote from above for ```push.env.sdepth``` rather than ```push.sdepth```. It matches with the _w

[2022-01-26 18:30] grjte commented on #73
I really like that!

[2022-01-26 21:08] bobbinth commented on #73
Thank you! Fixed!

I think we'll end up somewhere between 80 and 100 columns in the trace, so, adding an extra column will increase complexity by about 1% - so, not a huge deal, in my opinion.

I'm trying to make keep the instruction set to 96 instructions, and we are really close to this number now. So, adding two more instructions gives us much less room to add more instructions later (I think w

[2022-01-26 21:51] bobbinth opened #82 "Better comment format"
Currently, comments in Miden assembly must be surround by `#` characters. Thus, even for single line comments we must write:

[code]

It is a bit annoying that we need to terminate single line comments with `#`. The main motivation for doing so was ease of parsing, and in fact parsing this style of comments is very easy (they are stripped out from the source code as implemented [here](https://gith

[2022-01-27 04:30] itzmeanjan commented on #82
Yes I've to agree with you, as per my primary experience of writing Miden Assembly comments. What do you think of using similar syntax to support multi-line comments ?

So one writes

[code]

also may write

[code]

Because I think, we have to support multi-line comments too.

[2022-01-27 04:40] itzmeanjan commented on #73
This is good !

We can do static checks for correct pointer usage inside each function body and another nice thing is relative pointer arithmetic can be empowered by it, where relative memory address computation can be managed by runtime/ VM. So using this, one will write

[code]

[2022-01-27 19:22] bobbinth commented on #82
Yeah - I think multi-line comments would be useful too. I guess we have the following potential styles:

- single-line comment terminated withe a newline character
- multi-line comment

We also want to make sure we preserve easy parsing, and with this, i don't think we can use the same character for both. So, maybe we keep the current approach for multi-line comments and come up with a new charact

[2022-01-27 21:00] bobbinth opened #84 "Refactor i/o assembly instructions"
As discussed in #44 and in #73 we should refactor i/o assembly operations to follow the *what.where* format and also add new operations for handling memory-based local variables. Overall, the new i/o instruction set should be as follows:

Pushing values onto the stack:
* `push.xyz` - similar to current `push` but should allow pushing multiple values (up to 8). For example, the following should be

[2022-01-27 21:01] bobbinth commented on #44
Supersede by #84

[2022-01-27 21:01] #44 closed

[2022-01-27 21:02] bobbinth commented on #73
Supersede by #84

[2022-01-27 21:02] #73 closed

[2022-01-27 21:10] bobbinth opened #85 "Add fmp register the processor with associated operations"
As discussed in #73, to better support memory-based locals, we need to add `fmp` register to the processor. Operations needed to manipulate this register have been stubbed out in #83 - but we also need to implement them.

[2022-01-27 21:16] bobbinth commented on #80
Agreed!

Agreed here as well. We need to figure out what's the simplest way to support such a structure and how flexible we want to make it. For example, do we want to support something like this as well (in addition to your example):

[code]

[2022-01-28 20:49] grjte commented on #80
I agree with the approach that’s been discussed here so far.  Just to throw in my 2 cents,  I also prefer ```.masm``` as suggested by Anjan (although both are fine).

[2022-01-28 21:03] grjte commented on #82
I'm also not a fan of the terminating character requirement for single-line comments. It should not be hard to strip out comments terminating in newline - I'm pretty sure I've done this in a previous life :)

I agree that providing block comments as an option generally makes things easier for development.

Agreed. However, if we do this then my preference would be to use a set of line and block co

[2022-01-28 21:24] bobbinth commented on #82
Thinking more about, I'm a bit split on block comments. For example, in my own usage, the only times I'm using true block comments is when I want to comment out big pieces of code. This is useful, but I think with modern tools this can be just as easily accomplished with multi-line editing. So, I guess the two options are:

### Option 1
Keep the `#` is the character for comments, but change the se

[2022-01-28 21:33] grjte commented on #82
I would say let's do Option 1 for now because it's straightforward. As you said - with modern tools, it's not as big a deal, so we could table Option 2 and see during ```stdlib``` development how much of a hindrance the lack of block comments actually turns out to be in practice

[2022-01-29 19:55] bobbinth opened #86 "Potential optimization for loading values from memory"
Currently, at the VM level we have a single [loadw](https://github.com/maticnetwork/miden/blob/next/core/src/operations/mod.rs#L297) operation which is used to load data from memory onto the stack. This operation is used as the basis for `loadw.mem` and `pushw.mem` assembly instructions. Specifically, `loadw.mem` translates directly to `loadw` operation, while `pushw.mem` pads the stack with zeros

[2022-01-30 20:40] #85 closed

[2022-01-31 20:54] bobbinth commented on #79
Fixed by #89

[2022-01-31 20:54] #79 closed

[2022-02-01 18:24] bobbinth commented on #80
`.masm` for extension it is!

A few more thoughts from my side:

I'd prefer we use the same general format for import statements as we do for all other instructions: period-separated keywords. Also, my slight preference is that we use `use` rather than `import` but I'm fine with ether. So, an import statement would look like:

[code]

Also, I'm thinking that for simplicity of parsing, we require t

[2022-02-01 19:59] bobbinth commented on #71
Fixed by #72 and #91

[2022-02-01 19:59] #71 closed

[2022-02-02 01:43] bobbinth commented on #84
I updated assembly specs to reflect the above changes. One thing I changes: I got ride of `pushw` and allowed removing periods between values in hexadecimal format: https://hackmd.io/YDbjUVHTRn64F4LPelC-NA?#Constant-inputs.

Also, increased the maximum value of the parameter for `push.adv` to 16.

[2022-02-02 10:43] grjte opened #93 "Inconsistent assembly errors in the assembly parser for malformed operations"
In ```validate_op_len``` we return ```AssemblyError::invalid_op``` when any part of the instruction is missing. Examples of this would be:
- calling ```parse_adv``` with "adv" which is missing the ```push.n``` or ```loadw``` portion
- calling ```parse_push``` with ""

In many of the parsers for the u32 operations (and possibly other places) we return ```AssemblyError::missing_param(op)``` in these

[2022-02-02 11:18] grjte opened #94 "Incorrect implementation of parse_u32div for u32div and u32div.b operations"
The implementation of ```parse_u32div``` in the [assembly u32 ops parser](https://github.com/maticnetwork/miden/blob/next/assembly/src/parsers/u32_ops.rs) currently has 2 errors:

1. The parser accepts a parameter of 0 (```u32div.0```), which means that the operation fails during execution instead of during compilation.
2. The parser asserts in [handle_arithmetic_operation](https://github.com/mati

[2022-02-02 20:53] bobbinth commented on #76
Fixed by #92

[2022-02-02 20:53] #76 closed

[2022-02-03 01:22] bobbinth opened #96 "Panic in u32div operation processor"
`u32div` [operation processor](https://github.com/maticnetwork/miden/blob/next/processor/src/operations/u32_ops.rs#L133) currently incorrectly handles division by zero. It panics, but instead should return `ExecutionError::DivideByZero`.

We should also update relevant [u32tests](https://github.com/maticnetwork/miden/blob/next/processor/src/tests/u32_ops.rs) to expect an error instead of a panic.

[2022-02-04 08:49] grjte opened #98 "Make order of input arrays consistent across all test modules"
Currently, some test modules take input arrays in order while other modules require the inputs to be in the order they would be in after being pushed onto the stack, which is the reverse order.

We should make the order of input arrays consistent across all tests. Specifically, all test input arrays should be provided with data in order (not stack order), and we can update the test helper function

[2022-02-04 12:25] grjte commented on #98
Looking at this a bit more - when calling ```ProgramInputs::new``` followed by ```Process::new``` the order of inputs ends up on the stack in exactly the order in which it was first passed to ```ProgramInputs::new```, which is why all integration tests are taking inputs in stack order.

This also seems to mean that users would need to provide inputs in stack order, which feels a bit counterintuiti

[2022-02-04 18:07] bobbinth commented on #52
Closed by #88

[2022-02-04 18:07] #52 closed

[2022-02-06 09:27] grjte commented on #84
I'm updating this in 4 stages:

1. refactor i/o operations to "what.where" format + update tests (no change to how `push` is handled for constants)
2. update `push` handling for constants to the new specs + update tests for `push` with constant inputs
3. add handling for locals (io_ops + procedure parsers) + add tests
4. add integration tests to the processor for io operations

[2022-02-08 05:20] bobbinth opened #102 "Single-element memory operations"
Current [assembly instructions](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#Random-access-memory) for memory access deal with words (4 field elements). This creates quite a bit of over head for use case when we want to read/write a single field element. The overhead is in both places: the VM itself and the assembly instruction sequences needed to accomplish single-element reads/writes.

Adding dedica

[2022-02-08 07:35] grjte commented on #102
Yeah, I think it makes sense to hold off on this.

Sounds good. Do we also want to allow passing the address via the stack for the ```mem``` operations like we do when dealing with words?

[2022-02-08 07:38] bobbinth commented on #102
Yes, I think it would make sense to do that.

[2022-02-08 07:41] grjte commented on #102
Great, I'll take a look as I finish the rest of the io ```push``` refactor

[2022-02-08 19:44] bobbinth commented on #102
Sounds good! I've updated the [sepcs](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA?both#Random-access-memory) to include these new instructions.

[2022-02-09 07:29] bobbinth opened #103 "Memoization of hash execution traces"
Currently, [Hasher](https://github.com/maticnetwork/miden/blob/next/processor/src/hasher/mod.rs) component of the processor always builds traces for hash computations from scratch. This happens even in cases when computing hashes of the same values more than once.

We can improve on this by keeping track of the hashes which have already been computed, and just copying the sections of the trace wit

[2022-02-09 07:40] bobbinth commented on #98
I don't think there was a good reason for doing so (or at least, I can't come up with it now). And I agree that it would be more intuitive to provide inputs in regular order. Then, we can reverse them either in `ProgramInputs::new()` or in `Stack::new()` functions.

[2022-02-09 08:20] grjte commented on #98
Great, sounds good to me! In that case, would you prefer that I update docs/examples (as referenced above) as part of this? Or should we leave that for the general docs/examples update pass that will come when this version is complete? (Most of the places that look like they would need updates actually seem to use ProgramInputs::from_public, which it looks like we've gotten rid of anyway, so maybe

[2022-02-09 08:31] bobbinth commented on #98
Yes - let's leave doc updates for later. This will avoid some re-work later, I think.

[2022-02-09 17:01] bobbinth opened #105 "Instruction for computing absolute address of a local variable"
In some situations it may be useful to get the absolute memory location of a local variable.

For example, let's say we have a procedure for multiplying two 256-bit integers (`u256:mul`) this procedure expects memory addresses of operands `a` and `b` to be on the top of the stack, and after it performs the multiplication, it will leave the result on the top of the stack (we could have passed opera

[2022-02-11 03:20] bobbinth commented on #68
Closed by #100

[2022-02-11 03:20] #68 closed

[2022-02-11 05:05] bobbinth opened #106 "Procedure context tracking in the processor"
Currently, the processor is unaware of the procedure context of an executing program. That is, the processor doesn't know which procedure is being executed, which procedure called the current procedure etc. This limits usefulness of debug info. Thus, it would be very useful if the processor maintained a "procedure stack".

To make a process aware of which procedures are executing, we could introdu

[2022-02-11 06:12] bobbinth opened #107 "Step-by-step program execution"
For debugging purposes, it would be great to have a way to execute a program one cycle at a time, and to be able to read the state of the VM at every cycle. One way to do this is described below:

First, we could create a separate function in the `processor` crate (where the `execute()` function is defined) to handle step-by-step execution. This function could be called `execute_iter()` and it wou

[2022-02-11 14:41] grjte commented on #105
Just to reiterate - procedures will always be trusted, right? (With functions used for "untrusted" procedures, where parameters passed via the stack, as discussed in #73 )

Yes, I prefer passing via env as proposed rather than requiring the caller to figure it out themselves. The complexity is minimized this way & kept in one place (where it will in fact be straightforward to handle).

How much do

[2022-02-11 17:38] bobbinth commented on #105
Yes, this is correct.

Good point! We can wait a little on this. I think u256 operations, EC signatures, and hash functions might need something like this - but good to wait until we actually start working on them.

[2022-02-11 20:05] bobbinth commented on #98
Closed by #108

[2022-02-11 20:05] #98 closed

[2022-02-12 05:08] bobbinth commented on #65
After thinking about this some more, I think regular stack approach with setting minimum depth to 16 would be the best option and would require the fewest changes to our current approach.

I wrote [a note](https://hackmd.io/@bobbinth/rkwXJm7y9) describing how we can implement it using 19 trace columns + 1 virtual table (which itself would require 2 - 3 columns depending on the target security leve

[2022-02-12 09:20] grjte commented on #80
My main thoughts here are:
1. In general, I favor introducing complexity iteratively rather than initially, so I think we should start by supporting a minimal set of options that we will definitely want, while aiming not to corner ourselves too much.
2. I like the idea of taking a Rust-like approach (but minimized). I think this puts us on a path that includes the things we've discussed that we mi

[2022-02-12 20:32] bobbinth commented on #80
Agree with pretty much everything above. To sum up:

Library modules will be individual file with `.masm` extension. Each module may export multiple procedures, and may have private (un-exported) procedures. For example, let's say we have a module for handling u256 arithmetic. It could be located in `stadlib/math/u256.masm` file and could look like so:

[code]

To use procedures from a module in a

[2022-02-13 09:00] grjte opened #109 "Optimize the logic for inlining procedures"
The way procedures are parsed and inlined causes extra ```noop``` operations to be added and can be optimized.

As noted in the [specs](https://hackmd.io/yr-ieh7SSKOzWw7Kdo9gnA), the rules for grouping operations inside of span blocks are:
- the maximum number of operations per group is 9 (since a group is represented by a single 64-bit field element and each opcode is encoded with 7 bits)
- the f

[2022-02-14 17:41] bobbinth commented on #102
Closed by #110

[2022-02-14 17:41] #102 closed

[2022-02-14 23:06] bobbinth commented on #109
Another issue we need to consider during procedure inlining is procedures where the body of the procedure does not start/end with a Span block. For example, something like this:

[code]
Here, the Span block (the left child) can be combined with the outer Span block (the one where `exec.<proc>` is defined) but the current logic will not do that.

[2022-02-14 23:52] bobbinth opened #114 "Stacking of auxiliary traces"
The VM has several components traces of which should be "stacked" so that they all share the same set of execution trace columns. These components are:

* Hasher
* Bitwise processor
* Memory controller

All of these components already implement `fill_trace()` methods which should help with the process. The overall procedure for building a trace is as follows:

First, we need to determine overall l

[2022-02-15 00:49] bobbinth commented on #96
Closed by #112

[2022-02-15 00:49] #96 closed

[2022-02-15 08:45] grjte commented on #114
For reference, a diagram of the trace layout is ![here](https://user-images.githubusercontent.com/91497953/154024992-68748cec-f7a7-4d51-9936-ca39dab232a9.jpeg)

[2022-02-18 15:28] itzmeanjan opened #116 "Question on Memory Addressing Scheme"
Hi,

I was reading Miden Assembly specification's RAM addressing [modes](https://hackmd.io/YDbjUVHTRn64F4LPelC-NA#Random-access-memory)

In context of function local memory and absolute index based memory addressing, I was wondering how do I handle following depicted scenario.

[code]

[2022-02-18 15:37] itzmeanjan commented on #116
I just noticed another thing, when following Miden Assembly is executed

[code]

It terminates with stack trace

[code]

So it seems to be pretty easy to damage `fn0`'s reserved memory allocation, from `fn1` --- a function which said it won't use any local memory but it can damage its caller's working memory area.

Am I misunderstanding something ?

[2022-02-19 07:15] itzmeanjan commented on #116
Yes, this distinction between `{trusted|untrusted}` procedures makes sense.

[2022-02-19 11:53] grjte opened #118 "Local procedure memory overwrites memory from outer context"
Tests added in #117 demonstrate how local procedure memory currently overwrites memory from the outer context.

[code]

Instead of the expected final stack looking like ```[7, 6, 5, 4, 1, ...]```, the resulting stack is ```[7, 2, 3, 4, 1, ...]```, indicating that absolute memory at addresses 1 and 2 was overwritten by the locals at 1 and 0 respectively.

It looks like the reason for this is that `

[2022-02-19 20:45] bobbinth commented on #118
I think given the current specs, this behavior is correct - but I see how this can be very confusing. The issue is that script context does not have any locals and for procedures `fmp` always starts at `0` - so, they overlap. There are a couple of ways to address this:

1. We can allow locals in the script context as well - e.g., via `begin.4` or something like that.
2. We can set the initial valu

[2022-02-19 21:19] grjte commented on #118
Yeah, I've been thinking about it more & I agree, but I think it's very unexpected behaviour from a user perspective & should probably be adjusted.

This would be my preference. It seems more flexible and easier to work with than requiring locals to be declared in the script context.

Yeah, I think we should plan for that case. Using offset 2^30 seems like the best option to me.

This doesn't seem

[2022-02-20 06:20] bobbinth opened #119 "swapdw assembly instruction"
As mentioned in #65, we might introduce `swapdw` (swap double word) operation at the VM level at some point. It might be a good idea to have this operation supported in the assembly even before then. This operation would be useful for working with `u256` values (as each `u256` value is represented with 8 32-bit limbs).

Semantics of the operation would be as follows:

[code]

For now, we can imple

[2022-02-20 06:32] bobbinth opened #120 "Potential rationalization of bitwise operations"
As I learned from @dlubarov, it is possible to emulate bitwise `AND`, `OR`, `XOR` operations using just one of these operations and some filed element operations. Specifically, assuming we have access to `AND`, the other two can be described as:

[code]

Thus, we could eliminate 2 out of the following 3 operations: `U32AND`, `U32OR`, `U32XOR`. This wouldn't save us much in terms of trace length or

[2022-02-20 07:13] bobbinth commented on #84
Closed by #117

[2022-02-20 07:13] #84 closed

[2022-02-20 17:52] dlubarov commented on #120
I got the idea from @nbgl by the way, who mentioned similar formulas in Hacker's Delight.

Some proof sketches:

We can manually verify that this holds for single-bit `x`, `y`; then

    x + y = \sum_i 2^i (x_i + y_i)
          = \sum_i 2^i (AND(x_i, y_i) + OR(x_i, y_i))
          = \sum_i 2^i AND(x_i, y_i) + \sum_i 2^i OR(x_i, y_i)
          = AND(x, y) + OR(x, y)

The above approach works, but w

[2022-02-22 08:01] bobbinth commented on #114
Closed by #122

[2022-02-22 08:01] #114 closed

[2022-02-23 17:28] bobbinth commented on #118
Closed by #124

[2022-02-23 17:28] #118 closed

[2022-02-23 17:29] bobbinth commented on #105
Closed by #124

[2022-02-23 17:29] #105 closed

[2022-02-23 17:48] bobbinth commented on #80
Closed by #121

[2022-02-23 17:48] #80 closed

[2022-02-23 19:18] bobbinth commented on #116
Closing this as support for retrieving absolute memory addresses for locals was implemented in #124

[2022-02-23 19:18] #116 closed

[2022-02-23 19:53] bobbinth opened #125 "Standard library v0.1 content"
Now that support for standard library imports has landed in #121 we should start discussing what we want to include into the initial release of `stdlib`. Here are my preliminary thoughts on the library content:

* `math`
  * `u64` - arithmetic and bitwise operations with 64-bit unsigned integers.
  * `u128` - not sure if we need this, maybe skip for v0.1?
  * `u256` - needed to support EVM. we sho

[2022-02-23 20:27] grjte commented on #125
I would rather skip `u128` and aim for all `u256` operations.

[2022-02-23 21:40] bobbinth commented on #125
Agree on skipping `u128`. Regarding `u256`, supporting everything would be quite difficult. Here is my initial list with thoughts:

* `add` - [done]
* `sub` - [done]
* `mul` - [in progress] difficult.
* `div` - once `mul` is working, shouldn't be too difficult.
* `sdiv` - skip for now?
* `smod`- skip for now?
* `mod` - skip for now?
* `addmod` - skip for now?
* `mulmod` - skip for now?
* `exp` - s

[2022-02-23 22:00] grjte commented on #125
You’ve definitely spent more time considering this than I have, so I’ll need to look at it more to get a better feel for your list. What I should have said is that I would prefer to prioritize doing as many u256 as possible before doing u128.

[2022-02-23 22:30] bobbinth opened #126 "Power of two instruction"
The VM currently does not support dynamic bitwise shifts. One of the reasons for this is that emulating shifts using other operations is relatively easy when we know how many bits to shift by statically. For example, `u32shl` is actually computed as `PUSH(2^x) MUL U32SPLIT DROP` where `x` is the number of bits to shift by and `2^x` is computed at compile time.

One way to support dynamic shifts of

[2022-02-23 23:42] bobbinth commented on #126
One way to perform `U32POW2` operation in a single cycle would be to move the actual computation into a co-processor. Given the current width of our co-processor table, we should be able to compute `2^x` for `x` between 0 and 31 in 4 rows in the table. The constraints for that shouldn't be too complicated.

[2022-03-01 22:28] bobbinth commented on #94
Fixed by #127

[2022-03-01 22:28] #94 closed

[2022-03-02 20:39] bobbinth opened #131 "u64 module for stdlib"
As mentioned #125, we should add a module for 64-bit unsigned integer operations to the standard library. Initially, it should probably include the following procedures:

- `add`
- `sub`
- `mul`
- `div`
- `mod`,
- `eq`
- `eqz`
- `lt`
- `lte`
- `gt`
- `gte`
- `and`
- `or`
- `xor`
- `shl` - might be difficult without #126
- `shr` - might be difficult without #126

Also, for most of these (excluding

[2022-03-02 20:51] bobbinth opened #132 "Potential instruction to help with u32 safety checking"
For most `u32` operations the "safe" variants are much more expensive than the "unsafe" variations - frequently at least 5x or even 10x more expensive. This might make the safe variants much less desirable to use. One of the reason for this is that asserting that a value is a `u32` value is emulated by a sequence of 3 operations: `U32SPLIT EQZ ASSERT`. Thus, many instructions which work with 2 ope

[2022-03-03 02:50] bobbinth commented on #74
Closed by #130

[2022-03-03 02:50] #74 closed

[2022-03-05 07:34] bobbinth opened #134 "Stack cleanup before program exit"
One of the conditions we currently impose on program execution is that after a program completes, there must be no items left in the stack overflow table (i.e., stack depth must be 16). It is probably a good idea to have the assembler take care of this. Specifically, at the end of the main script body the assembler could include a call to a procedure which make sure the extra items are dropped fro

[2022-03-08 23:20] bobbinth opened #137 "Better handling of decorator operations"
Currently, we have a single `Operation` type which encodes all operations which can be executed on the VM. These operations fall into two main categories:

1. Regular operations (e.g., `ADD`, `MUL` etc.)
2. Decorators (e.g., `DEBUG`, `ADVICE`). As opposed to regular operations, decorators do not advance the clock cycle of the VM, and do not affect the state of the deterministic VM components (e.g.

[2022-03-08 23:36] bobbinth opened #138 "Program analysis tool"
It would be cool if we had a way to analyze a given script. This would let us make informed judgements about scripts we may have in the standard library. Some interesting statistics that come to mind:

* Number of VM cycles it takes to execute the script.
* Number of program blocks in the script (for each block type).
* Number of cycles per assembly instruction. E.g., a program executed `u32add.fu

[2022-03-11 06:52] bobbinth opened #143 "Range checks for u32 operations"
As described in [u32 operations](https://hackmd.io/NC-yRmmtRQSvToTHb96e8Q) note, these operations need to rely on a set of helper registers. This is not yet implemented because the helper registers will actually be located in the decoder which is currently not implemented.

Some of the helper registers are needed to perform 16-bit range checks. And while we can't yet populate these registers with

[2022-03-11 07:01] bobbinth opened #144 "Move integration tests into a separate crate"
We currently put all of the integration tests into the [processor](https://github.com/maticnetwork/miden/tree/next/processor/src/tests) crate. This may not be the best place for them as the test a bunch of things besides validity of processor execution (e.g., assembly compilation, correctness of stlib procedures). In the future, we'll probably add more integration tests which go beyond just the pr

[2022-03-15 06:44] bobbinth opened #147 "Use mdBook for documentation"
Currently, most of new documentation for Miden VM is kept in hackmd notes. We should probably transition to using [mdBook](https://rust-lang.github.io/mdBook/index.html) for Miden VM documentation. The good thing is that we can move most of the content with relatively little change as mdBook uses markdown file to build the final book (and it seems like we can use formulas in these files).

At the

[2022-03-15 09:28] itzmeanjan commented on #147
This is a good idea 👌

[2022-03-16 15:57] bobbinth commented on #65
Closed by #129, #148, and #150

[2022-03-16 15:57] #65 closed

[2022-03-17 08:17] grjte commented on #126
Reference notes from discussion with Bobbin

Goals:

Alternative approach:

[2022-03-17 16:18] bobbinth opened #153 "Script compilation time"
It seems like compiling large scripts (e.g., sha256 in the standard library) takes quite a bit of time. This is especially apparent when running tests in debug mode (which is the default). For example, sha256 tests takes over 40 seconds to complete, and this is likely driven by the assembler. When running tests in release mode, the situation is better - i.e., under 1 second - but still.

We should

[2022-03-18 06:32] itzmeanjan commented on #153
You mean while constructing Merklised Syntax Tree of assembly program, is it ?

[2022-03-18 06:35] bobbinth commented on #153
Right. Overall, even for 3K instructions, building the MAST shouldn't require more than 100 or so invocations of the hash function - so, there must be some inefficiency somewhere.

[2022-03-18 06:42] itzmeanjan commented on #153
And we're using rescue prime as hash function, is it ?

[2022-03-18 06:43] bobbinth commented on #153
correct.

[2022-03-18 09:07] grjte opened #156 "Tests for execution trace finalization"
We need a good way to test the finalization of the `ExecutionTrace` to ensure that all components are padded and finalized correctly, regardless of which component is driving the length of the overall trace.

I'm inclined to think these tests should be integration tests in the processor (not in the `miden` crate integration tests), which would mean not compiling down from assembly. A possible appr

[2022-03-18 11:09] grjte commented on #143
Closed by #149 and #152 .

[2022-03-18 11:09] #143 closed

[2022-03-20 17:44] bobbinth commented on #144
Closed by #155

[2022-03-20 17:44] #144 closed

[2022-03-29 22:12] bobbinth commented on #131
Now that we have most of the above implemented, I've spent some time thinking about different variants of operations and their naming conventions. Specifically, I have a couple of thoughts:

1. We should probably adopt Rust convention for different variants of arithmetic operations. For examples: `checked_add` instead of our current `add`.
2. We should probably introduce variants for handling mixe

[2022-03-30 20:30] grjte commented on #131
I agree with this overall. I think following the Rust naming conventions makes sense and that having mixed operations for u64 and u32 would also be useful.

I have a couple of small points. Firstly, the shl/shr don't match what Rust offers, since wrapping_shl is missing and overflowing/checked are different. In Rust, it's the shift value which is checked. In our case, we may want to check both thi

[2022-03-31 08:00] bobbinth commented on #126
Closed by #161

[2022-03-31 08:00] #126 closed

[2022-03-31 08:04] grjte opened #162 "Integration tests for stack and field operations"
There are no integration tests for the stack operations. Additionally, most of the field operations don't have integration tests yet. In particular, we're missing:

- assertions and tests
- arithmetic (all except pow2)
- boolean

[2022-04-07 17:11] grjte commented on #82
Closed by #164

[2022-04-07 17:11] #82 closed

[2022-04-07 20:48] grjte opened #165 "Integration tests for arithmetic field operations"
Tests for arithmetic field operations need to be added to the [integration tests](https://github.com/maticnetwork/miden/blob/next/miden/tests/integration/operations/field_ops.rs).

Tests should follow the existing pattern with the following tests for each of the arithmetic field operations that are missing tests:
- a test of simple success cases
- a test with applicable failure cases, if they exis

[2022-04-07 20:56] grjte opened #166 "Integration tests for boolean and assertion field operations"
Tests for boolean and assertion field operations need to be added to the [integration tests](https://github.com/maticnetwork/miden/blob/next/miden/tests/integration/operations/field_ops.rs).

Tests should follow the existing pattern with the following tests added for each of the boolean field operations and the `assert` operation:
- a test of simple success cases
- a test with applicable failure c

[2022-04-07 23:39] bobbinth commented on #131
Mostly closed by #159 and other PRs. I'll create stand-alone issues for the few remaining items.

[2022-04-07 23:39] #131 closed

[2022-04-08 02:22] bobbinth opened #168 "Add overflowing shl and shr to u64 module in stdlib"
Currently, [u64 module](https://github.com/maticnetwork/miden/blob/next/stdlib/asm/math/u64.masm#L583) in stdlib implements only `unchecked` version of bitwise shift operations. It would be great to add the `overflowing` versions as well. Specifically:

* `overflowing_shl` would have the following stack transition: `[b, a_hi, a_lo, ...] -> [d_hi, d_lo, c_hi, c_lo, ...]`, where:
  * `a_hi` and `a_l

[2022-04-11 02:38] bobbinth commented on #119
Closed by #169

[2022-04-11 02:38] #119 closed

[2022-04-11 02:39] bobbinth commented on #107
Closed by #128

[2022-04-11 02:39] #107 closed

[2022-04-11 07:10] bobbinth commented on #147
The new doc structure is deployed here: https://maticnetwork.github.io/miden

Now, we just need to migrate the content.

[2022-04-11 07:10] #147 closed

[2022-04-12 21:54] bobbinth opened #171 "Assembly instruction rationalization thoughts"
Having had the benefit of writing some simple (and not so simple) programs in Miden assembly, I think there are some opportunities to simplify (and in some cases augment) current assembly instruction set. My thoughts are below - though, these are rather preliminary and many of them might not be a good idea.

### Field operations
All looks good here. There is one slightly inconsistent thing in comp

[2022-04-13 01:27] bobbinth commented on #165
Closed by #170

[2022-04-13 01:27] #165 closed

[2022-04-13 02:35] bobbinth opened #172 "Add min and max procedures to u64 stdlib module"
We should add basic `min` and `max` procedures to [u64 module](https://github.com/maticnetwork/miden/blob/next/stdlib/asm/math/u64.masm) in the standard library. Stack transitions for these procedures would look as follows:

* min: `[b, a, ...] -> [c, ...]` where `c = a` if `a < b` and otherwise `c = b`
* max: `[b, a, ...] -> [c, ...]` where `c = a` if `a > b` and otherwise `c = b`

These procedur

[2022-04-21 06:14] grjte commented on #171
### u32 operations

I agree that this looks a bit strange, and that it would be nice to have a naming convention similar to stdlib. One option is to get rid of checked operations altogether and provide a way to check which could be used before any of these ops as desired. In the parsers, most of these binary arithmetic ops go through the same helper function that checks them and then either keeps

[2022-04-27 14:45] grjte opened #178 "Update the auxiliary table execution trace"
We need the following updates to the auxiliary table:

- [x] implement the execution trace for the [pow2 operation](https://hackmd.io/@grjte/H1oTEZQXc)
- [x] add the pow2 execution trace to the aux table by combining it with the bitwise execution trace
~- [ ] reorder the aux table co-processors to resolve the "last row problem" for memory processor transition constraints~

[2022-04-27 14:48] grjte opened #179 "Finish implementing AIR constraints for the auxiliary table trace"
AIR constraints need to be implemented for the following co-processors once #178 is complete:

- [x] write up the details of the modified transition constraint format discussed in the [Auxiliary Table Design note](https://hackmd.io/@grjte/ByKCo1Pr5) to ensure that:
    -  the changed format doesn't cause a problem with the constraints
    -  we know the tradeoff between the two sets of constraints

[2022-04-28 09:05] grjte commented on #178
It turns out that swapping the order of memory and padding in the auxiliary table will be problematic once the pow2 trace is added, so here's a brief writeup of the auxiliary table design with a new proposed order:
https://hackmd.io/@grjte/ByKCo1Pr5

[2022-04-29 10:05] aga7hokakological commented on #166
I would like to take this issue if no one else is working on this.

[2022-04-29 10:42] grjte commented on #166
@aga7hokakological that would be great! Please go for it

[2022-04-29 15:08] bobbinth commented on #172
@tohrnii - that would be awesome! Thank you. Feel free to submit a PR.

[2022-04-30 02:14] tohrnii commented on #162
I would love to work on this issue if one one else is. Thanks :)

[2022-04-30 03:18] tohrnii commented on #172
@bobbinth I've added a PR but not sure if the implementation is efficient. Please let me know if you think there's a better way. Thanks.

[2022-04-30 18:13] bobbinth commented on #162
That would be awesome! It is all yours :) Thank you!

[2022-04-30 23:49] bobbinth commented on #172
Closed by #181

[2022-04-30 23:49] #172 closed

[2022-05-02 13:37] grjte commented on #178
I think that a better approach to resolving the "last row problem" for the memory processor's transition constraints will be to use the "modified constraint format" discussed in the above note. This should make constraints easier to reason about and give more consistency across the other co-processors where this problem crops up. However, the details of the modified constraint format should be che

[2022-05-02 18:55] willyrgf commented on #168
I would like to work in this issue if no one is.

[2022-05-02 23:51] bobbinth commented on #168
Awesome! Thank you. Go for it!

[2022-05-03 12:58] aga7hokakological commented on #166
My question is regarding the following points:

Here in below image given failure condition for all the operations which requires test. So does that failure case comes under the above point?

![image](https://user-images.githubusercontent.com/47058975/166456798-de1b228a-e964-46ff-a52a-16a5bc578b4e.png)

[2022-05-03 17:29] bobbinth commented on #178
Closed by #183

[2022-05-03 17:29] #178 closed

[2022-05-04 16:04] grjte commented on #162
Closed by #185

[2022-05-04 19:03] tohrnii commented on #134
Would love to take a stab at this issue.

[2022-05-04 19:16] bobbinth commented on #134
Awesome! It is all yours!

[2022-05-05 05:20] tohrnii opened #190 "Mdbook links seem to be broken"
A few links that are relative to README.md in the root directory seem to be broken on building mdbook. I suspect it has something to do with the difference in relative paths of these directories from docs and root. Tried building mdbook from both root and docs directories. Am I missing something? Not sure how to fix it.

[2022-05-05 20:31] willyrgf commented on #168
Do we have some kind of table which we can know how many cycle each instruction or group takes?

[2022-05-05 22:20] willyrgf commented on #93
Sounds like a good idea to me. Is this still being discussed?

[2022-05-05 23:01] bobbinth commented on #168
Yes, here it is: https://docs.google.com/spreadsheets/d/1vFNZipN43Tuv2kSQdLtAMhNn_xA2xCsek-fEjf0PlTk Most instructions are covered, though there are some towards the end which need to be filled in.

[2022-05-05 23:33] willyrgf commented on #168
If I found any in this case I add them.
I'm trying to understand how many cycles my solution will take and try to improve it in some way.

[2022-05-06 00:09] bobbinth commented on #190
Thank you for noticing! Not a big deal for now since we'll probably need to update main README quite substantially soon. But I'll keep this open until we do.

[2022-05-07 11:54] 0xKanekiKen commented on #132
If no one else is looking into it, then I'd like to pick this up?

[2022-05-07 19:43] bobbinth commented on #132
That would be awesome! I do want to say that this might be a fairly involved task. So, maybe worth splitting it into a couple of PRs. For example, the first (simpler) PR could be to add `u32assert2` instruction to Miden assembly, and only after that add it to the VM's instruction set.

[2022-05-08 18:17] tohrnii commented on #138
Would love to work on this issue. So should we have a script that calculates these values for stdlib programs and a utility function which takes any arbitrary script source string and outputs these values? Should this be in a separate module or part of an existing one?

[2022-05-08 20:25] 0xKanekiKen commented on #132
Actually, that's the plan! I will start working on adding ```u32assert2``` instruction to Miden assembly and submit a PR. Just wanted to know your thoughts on how are we planning to reduce the overall VM cycles. For ex: adding two u32 value unsafely will require 1 VM cycle and likewise doing it safely would costs us 7 VM cycles (1 for addition and 3 each for asserting u32). How can we do this in 2

[2022-05-09 05:20] bobbinth commented on #132
Great!

Once `u32assert2` is implemented as a native VM operation (i.e., an operation which takes 1 cycle) the cost of safe operations will be reduced significantly. But you are right, for operations where we need to check that output is in the right range, it will still take more than 2 cycles. To take a `u32add` operation as an example.

Plain `u32add` would take 4 cycles and would look like thi

[2022-05-09 19:07] willyrgf commented on #103
I would love to work in this issue if no one is.

[2022-05-10 19:18] bobbinth commented on #103
@willyrgf - thank you for asking! I'd like to hold off on this specific issue for now. Some things we are working on now (e.g., decoder) may affect this and I think it makes sense to tackle this after these components are complete.

[2022-05-10 19:20] willyrgf commented on #103
It's ok, I'll keep looking.

[2022-05-10 20:17] willyrgf commented on #103
Maybe it would be interesting to have a label like `blocked` or `stale` for these cases.

[2022-05-10 23:53] 0xKanekiKen commented on #132
Thanks for the explanation. Makes sense now. What opcode shall I use for U32assert2?

[2022-05-11 02:18] bobbinth commented on #132
For the assembly instruction let's call it `u32assert.2`.

As discussed above, as a part of the first PR there is no need to change the actual opcodes of the VM. But once we get there, the opcode could be just `u32assert2`.

[2022-05-12 02:26] willyrgf commented on #153
I would love to work in this issue if no one is.

[2022-05-12 06:51] bobbinth commented on #153
Awesome! I'll assign this to you. Thank you!

[2022-05-12 22:39] tohrnii commented on #138
@bobbinth I added a simple script to output the total number of vm cycles it takes to execute a miden assembly script. It's a standalone package that takes source script as a file input and calls `execute_iter()` function based on your suggestion. Was the intention to have this as a separate crate only to do analysis on singular scripts or did you have something else in mind?
Thanks

[2022-05-13 05:53] grjte opened #199 "Optimize pow2 co-processor AIR constraints for output aggregation"
The pow2 co-processor currently uses 2 constraints for output aggregation, but we can do better.

The design of the pow2 processor and its current constraints are described [here](https://maticnetwork.github.io/miden/design/aux_table/pow2.html).
The implementation is [here](https://github.com/maticnetwork/miden/tree/next/air/src/aux_table/bitwise_pow2/pow2.rs).

It may be possible to reduce this t

[2022-05-13 06:09] grjte opened #200 "Improved design for power of two co-processor: binacc instruction"
The power of two operation currently requires 24 constraints (23 after #199). As noted by @bobbinth:

Improving this significantly requires coming up with a new construction for the power of two co-processor. The current design is described [here](https://maticnetwork.github.io/miden/design/aux_table/pow2.html) and the implementation is located [here](https://github.com/maticnetwork/miden/tree/nex

[2022-05-13 06:16] grjte commented on #200
Another note from @bobbinth:

[2022-05-13 07:01] grjte commented on #199
As an additional note - the [bitwise co-processor ](https://maticnetwork.github.io/miden/design/aux_table/bitwise.html)also uses 2 constraints for output aggregation to handle the first row, then all the transition rows. The optimized construction that we come up with here can likely be reused there as well.

[2022-05-13 17:02] frisitano opened #201 "Platform Agnostic?"
Will miden be built in such a way that is platform agnostic / stateless?  This is to say that miden could be used on different platforms with different state storage via the implementation of an adaptor?  This is the approach that Move VM and SputnikVM have taken and it has been very effective in terms of adoption.

[2022-05-13 19:19] bobbinth commented on #132
@0xKanekiKen - yep, `u32assert2` sounds good.

[2022-05-13 20:43] 0xKanekiKen commented on #132
@bobbinth - I've introduced `u32assert2` opcode to the VM instruction. Let me know your thought on the pull request.

[2022-05-14 05:48] bobbinth commented on #201
Miden VM is open-sourced under MIT license - so, anyone is free to use it. We will try to keep it as generic as possible, but might have to make some decisions which bias it toward Polygon Miden needs.

Regarding storage specifically - a lot is still TBD and we are planning to include storage mechanism by v0.3 release. There are some initial discussions related to this in #192

[2022-05-14 06:49] bobbinth opened #203 "Operation encoding"
We should start thinking about how each operation should be encoded (right now we basically assign dummy opcodes to operations). There are many things to consider, but for now, I'll just describe the basics.

First, we want to encode each operation with no more than 7 bits. This also means that within the VM we allocate 7 columns for operation bits (or `op_bits`). Theoretically, we could encode up

[2022-05-14 10:24] frisitano commented on #201
perfect I'll give the discussion a read. Thanks!

[2022-05-14 15:43] 0xKanekiKen commented on #199
@grjte - Is it fine if I take this up?

[2022-05-14 17:04] grjte commented on #199
@0xKanekiKen that would be great! Please let me know if you have any questions. We can chat directly if needed

[2022-05-14 20:19] bobbinth commented on #203
Another thing to keep in mind is how many 16-bit range checks a given operation requires. Here is a first stub at operations which require range checks.

| Operation   | # of checks |
| ----------- | ------------ |
|  `U32split` | 4                  |
| `U32add`   | 2                 |
| `U32addc` | 2                 |
| `U32sub`  | 2                 |
| `U32mul`   | 4                 |
| `U32madd

[2022-05-14 20:36] #201 closed

[2022-05-15 06:48] bobbinth commented on #168
Closed by #191

[2022-05-15 06:48] #168 closed

[2022-05-15 08:24] 0xKanekiKen commented on #199
@grjte: Thanks! We can chat on discord if it's fine with you.

[2022-05-15 09:13] tohrnii opened #204 "Add program analysis to miden assembly playground"
It would be nice to have total vm cycles count and other stats displayed alongside stack state in the wasm based miden assembly playground built by @timgestson [here](https://github.com/timgestson/miden-assembly-playground).

Needs issue #138 to be resolved which is being worked on in PR #198.

Suggested by @grjte [here](https://github.com/maticnetwork/miden/discussions/175#discussioncomment-25778

[2022-05-15 11:05] grjte commented on #199
Sure, that works!

[2022-05-15 14:45] tohrnii commented on #204
Demo with total vm cycles added: https://github.com/tohrnii/miden-assembly-playground

[2022-05-16 03:30] bobbinth commented on #203
One other thought: if we change `U32addc` to something like `U32add3` (i.e., add top 3 items on the stack), this operation would also require 4 range-checks. So, we'll have 6 operations which require 4 range checks. We can then force `U32add` and `U32sub` to perform two 2 extra (unneeded) range checks, and we'll have 8 operations which require 4 range checks each.

This would result in a bit of wa

[2022-05-16 04:04] bobbinth commented on #171
One possible solution for u32 operations is to just use underscores (as we do in stdlib for u64 module). So, for addition, we'd have 3 instructions like so:

| Operation | Comments |
| ---------- | ----------- |
| `u32checked_add`       | Same as the current `u32add` |
| `u32overflowing_add` | Same as the current `u32add.unsafe` |
| `u32wrapping_add`     | Similar to `u32add` but wouldn't check fo

[2022-05-16 04:27] grjte commented on #171
I think the underscores approach is good 👍

[2022-05-16 05:50] grjte opened #206 "Add missing selector constraints to the Bitwise & Power of Two co-processor"
As pointed out by @Al-Kindi-0, it is currently possible for the prover to compute incorrect results in the bitwise operations, due to missing constraints on the operation selectors.

## Example:
I'll demonstrate this using the example from the [bitwise docs](https://maticnetwork.github.io/miden/design/aux_table/bitwise.html), which shows computation for bitwise `AND`.

Suppose that at the second r

[2022-05-16 05:57] grjte commented on #206
Note - an initial rough version of the aux table docs can be seen [here](https://hackmd.io/FN9VFzMQSMyTWv8agycccA) for reference, but I'll add them to the mdbook later today

[2022-05-16 07:11] grjte commented on #204
@tohrnii I love what you & @timgestson have done here and I think this is a great time to open this issue.

Before we move forward I think we probably want to pause and consider how we want this tool to be so we can make some opinionated choices about stack, design, functionality, etc before we get too far along. That will help ensure that any work that's done on this is moving towards the impleme

[2022-05-16 08:57] 0xKanekiKen commented on #206
@grjte: I'd like to take this up :)

[2022-05-16 10:08] grjte commented on #206
Sure, I've assigned it to you. Thanks!

[2022-05-17 01:21] willyrgf commented on #153
@bobbinth - Debugging the code trying to understand where is the most expensive part of it, I found somethings and I've some questions:

The most expensive part of the executions seems to be in the first loop of [`combine_blocks()`](https://github.com/maticnetwork/miden/blob/ca1cfa7dad59cdb4998e42e4c71605d30c85cf87/assembly/src/parsers/blocks.rs#L256) more specific in the hash of the batch groups

[2022-05-17 06:22] bobbinth commented on #153
@willyrgf - thank you so much for looking into this! To answer your questions:

Linear cost is to be expected: `hash_elements()` is linear in the number of elements to be hashed (and each batch group contains 8 elements). Regarding the exact numbers you show: are these in debug or release mode? If in release mode, these are quite surprising: hashing 1000 elements (or ~125 groups) shouldn't take mo

[2022-05-17 10:27] grjte commented on #166
@aga7hokakological I just wanted to check in and see if you have any other questions about this task that I can help with. It's also fine if it turns out you don't have time to work on it - please just let us know if that's the case :)

[2022-05-17 10:37] aga7hokakological commented on #166
Hey @grjte sorry, I was away for a while. I had figured out about the success cases but for failed cases such as for `not` condition failes if a > 1. How am I supposed to write the case. because it takes only binary input so no values other than 0 and 1 are allowed.

[2022-05-17 11:33] grjte commented on #166
Hey @aga7hokakological no problem. Is the problem that it's throwing a compilation error so it never gets a chance to execute and therefore an execution error is never triggered? If that's the case, I think it's fine to just test for a TestError::AssemblyError here. If that's not the issue can you give me a bit more detail?

[2022-05-17 11:52] aga7hokakological commented on #166
@grjte So here,
![image](https://user-images.githubusercontent.com/47058975/168803851-86b501b9-2852-459e-af5d-54e5e6c39035.png)

If I do `ExecutionError` it gives `Some(false) != Some(true)` and value is not binary value.
![image](https://user-images.githubusercontent.com/47058975/168804192-0123c121-363c-4e21-8979-00bcf0a80c89.png)

Here ExecutionError is required but as it is not binary value tes

[2022-05-17 13:19] grjte commented on #166
@aga7hokakological Ok, I see. I think the issue is that you're using the wrong input to your`TestError::ExecutionError`. The input should be a substring that will match the expected error returned by the VM. In this case, the expected error is "NotBinaryValue", so if you do the following it should work:

[code]

[2022-05-17 23:30] 0xKanekiKen commented on #166
The opcode for assert.eq is `assert.eq`. You can either refer it from [here](https://github.com/maticnetwork/miden/blob/next/assembly/src/parsers/field_ops.rs) (mentioned in the issue statement) or [here](https://hackmd.io/@bobbinth/ry-OIBwPF)

[2022-05-18 07:42] grjte commented on #166
Thanks @0xKanekiKen! Yep, that's correct - in fact, the contents of the assembly note have been migrated to our docs now, so you can check out the assembly docs here: https://maticnetwork.github.io/miden/user_docs/assembly/main.html

@aga7hokakological regarding the first question about the proptests:
- I think using bool and casting to u64 as you've done would be the right way to do this.
- You d

[2022-05-18 13:02] aga7hokakological commented on #166
#210

[2022-05-18 13:22] aga7hokakological commented on #166
Thank you for this. Below code helped me.

PR: #210
I made mistake while committing to my branch so I didn't mentioned the PR directly in here.

[2022-05-19 06:43] bobbinth commented on #137
That would be awesome! It is a fairly complicated one. Maybe as the first step it would be good to write up a short description of the general approach?

btw, I'm thinking we can probably remove `debug` decorators entirely since using `execute_iter()` gives us a better way to get all the same info (unless others thing they are useful).

[2022-05-19 06:58] grjte commented on #137
I agree about removing `debug` decorators. That will reduce a lot of the extra weight and avoid having so much complexity introduced here by something that isn't required for normal execution of the program

[2022-05-19 07:04] bobbinth commented on #137
One other thing to mention is that I'd like to come up with a way to tie assembly instructions to the actual operations executed by the VM. Right now a single assembly instruction can be translated into a sequence of one or more operations and for someone who doesn't know all details of this translation debugging a program would be confusing.

It would be cool if in the new decorator structure we

[2022-05-19 07:24] grjte commented on #137
I think this could be useful in the future for program analysis of potential optimizations as well. It could help us recognize patterns that could be improved on when compiling higher-level languages to miden assembly or make it easier to highlight sections to be manually reviewed for optimization, such as when the assembly calls pop instead of store (as a simple example)

[2022-05-20 23:45] 0xKanekiKen opened #213 "Update u32assert assembly instruction"
`u32assert` instruction checks whether the top value of the stack is u32 or not. It is currently using 3 VM cycle using these three VM instructions: `U32SPLIT EQZ ASSERT`. We would like to update the assembly instruction with `PAD U32ASSERT2 DROP` as it gives a better error message as echoed by Bobbin in this [PR](https://github.com/maticnetwork/miden/pull/202). The test cases also needs to update

[2022-05-21 07:42] bobbinth commented on #132
Closed by #202

[2022-05-21 07:42] #132 closed

[2022-05-21 11:29] DeimosTheMisthios commented on #213
I'd like to take a crack at this one, if still available?

[2022-05-21 12:41] grjte commented on #166
Closed by #210

[2022-05-21 12:41] #166 closed

[2022-05-21 16:57] 0xKanekiKen commented on #213
Thanks, @DeimosTheMisthios! Please feel free to reach out to me if you have any queries.

[2022-05-22 20:44] DeimosTheMisthios commented on #213
Thanks, let me know what you think of #215. I've added a comment that should perhaps be discussed: in cases where the result (and not the inputs) is >= 2^32, should the error by `FailedAssertion` or `NotU32Value` ?

https://github.com/maticnetwork/miden/blob/5e7680df5e842d2ea42c0696c0ba99a8421f31fe/miden/tests/integration/operations/u32_ops/arithmetic_ops.rs#L32-L51

[2022-05-22 21:23] DeimosTheMisthios commented on #86
Is this something I could pick up too? The description is a bit open ended so not quite clear if it's still under consideration

[2022-05-22 22:02] 0xKanekiKen commented on #213
Thanks @DeimosTheMisthios, for looking into it. We will have similar considerations with other operations. I think that we should leave these be for now as changing VM instruction logic will have an impact on downstream operations. However, I will defer to @bobbinth's opinion.

[2022-05-22 23:44] bobbinth commented on #213
@DeimosTheMisthios thank you for tackling this and @0xKanekiKen thank you for handling the questions!

I agree that it would be good to update the error message, but I don't see a simple way of achieving this. So, for now, I think the best thing would be to create a separate issue for this so that we could come back to it later.

[2022-05-22 23:48] bobbinth commented on #86
@DeimosTheMisthios thank you for the interest! It is still not clear whether we should implement this - so, I'll mark this issue as "on hold" for now.

[2022-05-23 05:21] bobbinth opened #216 "Update assembly parsers to use u32assert2 operation where possible"
Currently, for most safe u32 assembly instructions we check that u32 operands are u32 values by using an equivalent of `u32assert` instruction (which actually takes 3 cycles). However, now we have a `U32ASSERT2` operation which could make all of these checks more efficient.

For example, `u32add` assembly instruction currently translates into something like:
[code]
This takes 10 cycles. Instead, u

[2022-05-23 05:56] 0xKanekiKen commented on #216
I'm compiling a list of assembly operations which needs to be updated with `U32ASSERT2`. I'll post them here.

[2022-05-23 06:23] bobbinth opened #217 "Update u64 module in stdlib to use u32assert2 operation"
Currently, [u64 module](https://github.com/maticnetwork/miden/blob/next/stdlib/asm/math/u64.masm) in the standard library, when executing "checked" versions of procedures, verifies that inputs are u64 values using `u32assert4` procedure. This procedure uses `u32assert` assembly instruction on limbs of input values. This is rather inefficient and can be improved.

First trivial improvement is to mo

[2022-05-23 06:28] #17 closed

[2022-05-23 06:52] DeimosTheMisthios commented on #216
Thanks Kaneki, I'd love to pick this up when that list is ready.

[2022-05-23 07:02] DeimosTheMisthios commented on #217
I can take this one, too.

[2022-05-23 07:09] bobbinth commented on #171
One of the things I'm inclined to do with stack manipulation operations is as follows:

* Introduce native `SWAPDW` operation (with identical semantics to the current `swapdw` assembly instruction).
* Remove native operations `MOVUP9`, `MOVUP11`, `MOVUP13`, and `MOVUP15`, and introduce `MOVUP8`.
* Remove native operations `MOVDN9`, `MOVDN11`, `MOVDN13`, and `MOVDN15`, and introduce `MOVDN8`.

`mov

[2022-05-23 12:06] grjte commented on #109
This issue should be resolved by #212 , but it would be good to 1) confirm that it's resolved and 2) identify if any other similar suboptimal behaviour has been introduced or still exists.

[2022-05-23 16:13] DeimosTheMisthios opened #218 "Change error type for u32 arithmetic operations"
With issue #213 and PR #215, the `u32assert` error `FailedAssertion` will be replaced by `NotU32Value`. However, the error for arithmetic operations when the result is not a `u32` continues to be `FailedAssertion`.

https://github.com/maticnetwork/miden/blob/5e7680df5e842d2ea42c0696c0ba99a8421f31fe/miden/tests/integration/operations/u32_ops/arithmetic_ops.rs#L47-L49

At this point, there isn't an

[2022-05-23 17:31] bobbinth commented on #213
Closed by #215

[2022-05-23 17:31] #213 closed

[2022-05-23 21:13] bobbinth commented on #217
@DeimosTheMisthios  Awesome! Thank you!

[2022-05-24 20:18] 0xKanekiKen commented on #216
Thanks @DeimosTheMisthios, for the help. I will compile it in a day or two & then you can take it up from there.

[2022-05-24 20:23] bobbinth opened #220 "Replace u32addc with u32add3 operation"
As discussed [here](https://github.com/maticnetwork/miden/issues/203#issuecomment-1127178122), we can generalize `U32ADDC` operation into `U32ADD3` operation. Stack transition for this operation would be very similar to `U32ADDC`:
[code]
Where `d` and `e` would be the lower and the upper 32-bit limbs of `a + b + c`. The main difference between `U32ADDC` and `U32ADD3` is that in case of `U32ADD3` a

[2022-05-24 20:55] 0xKanekiKen commented on #220
I'll take care of it :)

[2022-05-24 21:54] bobbinth commented on #220
Thank you! It is all yours :)

[2022-05-26 11:03] tohrnii opened #224 "keccak256 tests failing"
Maybe this is a known temporary issue in keccak256 assembly procedure since the tests were ignored but tests `keccak256_2_to_1_hash` and `keccak256_bit_interleaving` are failing.

Error Message:
[code]

[2022-05-26 11:26] frisitano opened #225 "Serialisation of miden assembly"
Hi,

I believe miden assembly is intended to be easily serialised as bytecode.  However when when exploring the code I can't see an implementation of assembly serialisation.  Has assembly serialisation been implemented?  If not I would be happy to take a go at and would appreciate if you could provide some pointers of how a solution should look.  I'm guessing we would would to implement the `IntoB

[2022-05-26 19:41] tohrnii commented on #224
Closed by #227

[2022-05-26 19:41] #224 closed

[2022-05-26 23:13] bobbinth commented on #220
Closed by #221 .

[2022-05-26 23:13] #220 closed

[2022-05-26 23:32] 0xKanekiKen commented on #216
The following list of assembly instructions needs to be updated:

- [ ] `u32add`
- [ ] `u32add.b`
- [ ] `u32add.full`
- [ ] `u32sub`
- [ ] `u32sub.b`
- [ ] `u32sub.full`
- [ ] `u32mul`
- [ ] `u32mul.b`
- [ ] `u32mul.full`
- [ ] `u32madd`
- [ ] `u32div`
- [ ] `u32div.b`
- [ ] `u32div.full`
- [ ] `u32eq`
- [ ] `u32mod`
- [ ] `u32shl`
- [ ] `u32shr`
- [ ] `u32lt`
- [ ] `u32lte`
- [ ] `u32gt`
- [ ] `u

[2022-05-26 23:39] bobbinth commented on #225
Hi! Serialization hasn't been implemented yet, but it's definitely something that would be good to implement.

However, it is still an open question about how to do it. The thing is that serializing the `Script` struct would not give good results as a lot of info from the source assembly file is not retained there. For example, all procedures are inlined, and thus, the resulting serialized version

[2022-05-27 01:00] #179 closed

[2022-05-28 14:54] frisitano commented on #225
It makes sense to me that `[source .masm] -> [pased AST]` is lossless however I'm not clear on how the serialized AST would be used in practice.  Naively I would assume that if we wanted to submit a `create` extrinsic which stores a miden program in on-chain storage then we would want to do this with a serialized `Script`.  If we were to store serialized AST then we would have to compile the AST t

[2022-05-28 16:04] bobbinth commented on #225
My original intent for Miden assembly was actually to have it stored on chain for public accounts.

The main reason is that in many cases it should be significantly more compact than the serialized version of the `Script` struct. For example, a call to a procedure from the standard library would serialize as 33 bytes. But an inlined procedure (e.g., [blake3](https://github.com/maticnetwork/miden/b

[2022-05-28 17:42] frisitano commented on #225
This makes sense, thank you for explaining!  I'll take a take a look the libraries you suggested.  However I don't have any experience working with AST's so can't make a commitment to picking this up just yet.

[2022-05-29 05:26] tnachen commented on #216
Seems quite straightforward, I can work on this as looks like @DeimosTheMisthios you are working on other issues.

[2022-05-29 15:28] grjte opened #229 "Optimize range checker execution trace finalization / length check"
Currently, the 8-bit range check table is built twice when the execution trace is finalized.

1. It is built during the [call to `RangeChecker::trace_len`](https://github.com/maticnetwork/miden/blob/78f4b7d228aca6d0949ac37dc9854d6662a2ee8a/processor/src/trace.rs#L222) when the maximum length of the execution trace is being computed in `finalize_trace`.
2. It is built during the [`range.into_trace`

[2022-05-29 16:36] bobbinth commented on #225
@frisitano - no worries! I'll write up a separate issue specifically about a parser - and if you feel like you'd like to take a stab at it, just let me know.

[2022-05-29 22:27] 0xKanekiKen commented on #229
@grjte - I'd like to pick this up, if it's available?

[2022-05-31 18:51] #225 closed

[2022-06-01 20:03] bobbinth opened #231 "Context isolation in the VM"
To support a transaction model similar to the one described in #192, we'll need to have the ability to place restrictions on what programs can do in certain contexts. To list some restrictions:

* Account functions should be able to create new notes, but should not be able modify notes after they have been created.
* Note scripts should be able to invoke account's functions, but should not be able

[2022-06-02 16:19] grjte opened #233 "Add a new boundary constraint to the hasher"
With the changes to the hasher trace made in #195 the hasher now requires a new boundary constraint (assertion) to enforce that `row_idx = 1` in the first row. It should be added to the assertions in the [hasher module of the AIR crate](https://github.com/maticnetwork/miden/blob/next/air/src/aux_table/hasher/mod.rs).

[2022-06-03 06:14] bobbinth commented on #231
After thinking a little more about this, I think there is a better (and much simpler) way of supporting the functionality described above.

First, instead of having 3 spaces, we have 2:

1. Kernel space.
2. User space.

Every program starts execution in the Kernel space (memory context = 0). To go into the user space we use a `call` operation. This operation can be used as follows:
[code]
When the

[2022-06-03 09:04] grjte commented on #206
Closed by #219

[2022-06-03 09:04] #206 closed

[2022-06-04 19:04] bobbinth opened #235 "Add operation tracking to VmStateIterator"
Currently, the [VmState](https://github.com/maticnetwork/miden/blob/next/processor/src/debug.rs#L7) struct which is returned from the `VmStateIterator` does not contain the operation which was executed to put the VM into this state. We should add another field to this struct so that it looks something like this:
[code]

The `op` field would need to be populated from the information in the [decoder

[2022-06-04 19:26] tohrnii commented on #235
@bobbinth I can complete this first as one PR and use that to complete #198.

[2022-06-04 19:31] bobbinth commented on #235
That would be awesome! Thank you!

[2022-06-06 08:56] grjte commented on #203
A few thoughts on operation encodings and flags:

1. There are currently 17 operations which shift the stack left, 2 of which require range checks (`u32add3`, `u32madd`). The operations not requiring range checks are  `add`, `mul`, `and`, `or`, `eq`, `loadw`, `storew`, `drop`, `cswap`, `cswapw`, `assert`, `fmpupdate`, `u32and`, `u32or`, `u32xor`.
2. There are currently 18 operations which shift th

[2022-06-06 17:21] bobbinth commented on #203
I think there are actually more. Some of the control flow operations also shift the stack to the left. Specifically, `SPLIT`, `LOOP` (but only if the top of the stack is `1`), `REPEAT`, and `END` (but only when exiting a loop block). I don't think this presents an issue for grouping though, as control flow operations would be grouped separately anyway.

I think this is fine. I'm sure we'll come up

[2022-06-06 17:35] bobbinth commented on #203
By the way, this would also apply to operations which don't shift the stack. For example, grouping the operations which don't change the stack beyond 4th element together could help us greatly reduce the number of constraints.

[2022-06-06 17:44] willyrgf commented on #153
Hi @bobbinth - sorry for that, but I will need to focus my time on other new things. Can you unassign me here? If somehow I found time and it's still available I'll send a PR.

[2022-06-06 17:48] bobbinth commented on #153
No worries! Thank you @willyrgf

[2022-06-06 18:18] 0xKanekiKen commented on #153
@bobbinth: I'd love to pick it up from here.

[2022-06-07 07:25] grjte commented on #203
This makes sense, but looking at the list of operations that cause a right shift, `u32split` seems to be the only one that shifts the stack from an index other than 0. `u32split` is already defined by its own unique flag, since it's grouped under the range check prefix, so it seems that the rest could be grouped together and we could still do something similar to what you propose.

[2022-06-07 07:31] grjte commented on #203
The 8 ops that I grouped together in #236 do all shift the stack from the same index (2), and these are all of the left-shift ops that shift by that amount. The two that are grouped under the range check prefix also shift the stack by the same amount (from index 3).

As you said, there is greater variety for the remaining ops:
- shift by 1: 3 ops
- shift by 3: 3 ops (2 of which use the range check

[2022-06-09 08:42] grjte opened #240 "Alternative approach for non-control-op assertion when updating decoder helpers"
When setting helpers for user operations within the decoder trace via the `set_user_op_helpers` function in the [decoder module](https://github.com/maticnetwork/miden/blob/next/processor/src/decoder/mod.rs), we need access to the operation information in debug mode only, so that we can ensure the operation is not a control operation. Currently, the operation value is passed as a parameter from the

[2022-06-09 13:59] 0xKanekiKen commented on #240
@grjte I'd like to take a look at it.

[2022-06-09 18:04] grjte commented on #240
@0xKanekiKen thanks! We should wait until #237 is merged before taking a look at this, which should be by the end of the week

[2022-06-10 07:55] grjte commented on #240
@0xKanekiKen I discussed this with @bobbinth and I think we're going to hold off on this issue for now, since it's not urgent, we're not sure how we want to approach it, and there are several other things we need to update in the decoder (so we want to avoid conflicts).

[2022-06-11 12:32] frisitano opened #241 "Compiling for no_std target"
Hi,

I was under the impression that `miden` was compatible with `no_std` targets however this does not appear to be the case in it's current form.  I think we need to add `#![cfg_attr(not(feature = "std"), no_std)]` to `lib.rs` in miden crates.  Where applicable we can add `use vm_core::utils::collections` which is a pub reference to `winter_utils::collections`.  We may also need to support macro

[2022-06-12 16:01] 0xKanekiKen commented on #153
@bobbinth: On my machine with AMD Ryzen 5 3550H running Pop!_OS 22.04 LTS, the sha256 compilation benchmark is taking
`time:   [2.8630 s 2.8750 s 2.8874 s]`

[2022-06-13 18:51] bobbinth commented on #216
Closed by #228

[2022-06-13 18:51] #216 closed

[2022-06-13 19:59] bobbinth opened #245 "Cleaner way to create ranges"
Currently, we have a utility function for creating `std::ops::Range` structs called [range()](https://github.com/maticnetwork/miden/blob/next/core/src/utils/mod.rs#L71). This function is convenient because it can be used to create `Range` structs using the start value and length of the range (rather than start and end values). However, the naming of the function is a bit unfortunate, and we actual

[2022-06-13 20:09] 0xKanekiKen commented on #245
@bobbinth: I'd like to work on it.

[2022-06-13 20:11] bobbinth commented on #241
Hi - yes, this looks about right. And thank you for the PR! I'll review it in the next day or two.

[2022-06-13 20:40] bobbinth commented on #217
@DeimosTheMisthios - are you still planning to work on this issue?

[2022-06-13 21:40] 0xKanekiKen commented on #245
@bobbinth: Understood, okay!

[2022-06-15 04:43] bobbinth commented on #203
Another approach to organizing operations could be as follows:

| bit 6 | bit 5 | bit 4 | bit 3 | bit 2 | bit 1 | bit 0 | # of ops | degree |
| :---: | :---: | :---: | :---: | :----: | :---: | :---: | :-------: | :------: |
| 0      |  x      | x      | x       | x       | x       | x      |  64          |  7         |
| 1      |  0      | 0      | x       | x       | x       | x      |  16

[2022-06-16 05:59] jonathanxuu opened #249 "Implement RLP decode for stdlib"
Hi,
Miden VM has a powerful ability to handle numerical mathematical problems, but many other types of data exist in real life, such as `String` types. We are thinking about ways to add String related libs in Miden VM. Here are some initial ideas.

The actual operations on `String` type data may include:
  1.  To check whether `String A` contains a sub-string `String B`
  2.  To concatenate two St

[2022-06-16 18:58] bobbinth commented on #249
Hi! I think having an RLP decoder could be very interesting. But I haven't thought about this too much yet - so, not sure what it will entail. A few questions that come to mind:

* What a single field element could contain up to 7 bytes. Is that how we should think about binary data within the VM? In this case, would the RLP decoder take a sequence of such field elements and output one char per el

[2022-06-17 06:09] bobbinth commented on #231
Another drawback of the above approach is hardcoding of kernel root. For one, it makes the design less flexible. Also, as discussed in https://github.com/maticnetwork/miden/discussions/248#discussioncomment-2959921 we'd actually need two different kernels.

Supporting non-hard-coded kernels can be done in a couple of ways.

One way is to have 4 columns which contain the root of the kernel code. va

[2022-06-17 06:30] bobbinth commented on #231
To summarize my current thinking:

1. We should probably add 4 columns which would contain hash of the currently executing function. These columns would behave as follows:
  a. Initial values of these columns would be set to ZEROs.
  b. The values in these columns would be set when `call` operation is executed, and would be reset to previous values when we return from a function call.
  c. When `s

[2022-06-17 06:45] bobbinth commented on #235
Closed by #251

[2022-06-17 06:45] #235 closed

[2022-06-17 07:51] 0xkanekiken opened #253 "Efficient way of building MAST tree during assembly script compilation"
Right now, during the assembly script compilation, according to @bobbinth, we compute the node hashes every time we create a node of the tree which could result in some duplicated work. In order to avoid this and to make the tree building process more efficient & fast, we should build the tree first, and then once the tree is fully built, make a call to compute hashes of all nodes.
#250 & #153 for

[2022-06-17 15:22] grjte opened #256 "Optimize bitwise co-processor AIR constraints for output aggregation"
The [bitwise co-processor ](https://maticnetwork.github.io/miden/design/aux_table/bitwise.html) uses 2 constraints for output aggregation. One constraint handles the first row, then the other handles all the transition rows, but this means that we compute the sum twice at every row. It can be optimized by adding a new column which tracks the previous output and then aggregating the sum once at eac

[2022-06-17 15:23] grjte commented on #199
Closed by #232

[2022-06-17 15:23] #199 closed

[2022-06-17 15:34] DeimosTheMisthios commented on #256
Hello, can I pick this one up?

[2022-06-17 15:38] grjte commented on #256
@DeimosTheMisthios sure, thanks! I've assigned it to you

[2022-06-17 17:41] #241 closed

[2022-06-18 18:58] frisitano commented on #245
I can pick this up @bobbinth

[2022-06-18 20:04] bobbinth commented on #245
@frisitano - it is all yours! Thank you!

[2022-06-18 22:23] bobbinth opened #258 "Finish TSMT"
Assuming we go with the state model similar to the one described in #222, we need to be able to handle sparse Merkle trees (or variations thereof) in the VM. Specifically, we need this to represent account and nullifier databases.

These Merkle trees will act as maps which map ~32 byte keys to ~32 byte values (in our case, both keys and values would actually be 4 field elements). Supporting these

[2022-06-18 23:28] 0xKanekiKen commented on #253
@bobbinth: Can you assign me to this?

[2022-06-19 01:24] bobbinth commented on #153
Closed by #250

[2022-06-19 01:24] #153 closed

[2022-06-19 14:39] frisitano commented on #245
Experiencing a slight challenge with the proposed solution.  The current `range()` function is a `const` (`pub const fn range(...)`).  However `const` functions cannot be defined within traits.  Therefore we are not able to implement a `const fn new(...)` function within the trait.  [Additionaly `len()` is already provided by the implementation of the `ExactSizeIterator` trait for `Range<usize>`](

[2022-06-19 19:54] bobbinth commented on #245
Ah! I didn't realize this. It is possible to do const trait implementations (as in [here](https://github.com/rust-lang/rust/issues/67792)), but this is not yet stable.

I'll put this issue on hold for now. Thanks for looking into it!

[2022-06-20 03:35] 0xKanekiKen commented on #109
@bobbinth @grjte: I can confirm this.

[2022-06-20 04:57] bobbinth commented on #171
Currently, the way we access memory in the VM is via `LOADW` and `STOREW` operations. These operations work with words (4 field elements). At the assembly level, we also have `pop.mem` and `push.mem` instructions which work with individual elements, and are currently emulated using `LOADW` and `STOREW` operations (this is quite expensive - I believe these require 10+ VM cycles).

We can introduce

[2022-06-21 22:55] bobbinth commented on #67
An initial version of Merkle path set has been implemented in #177

Out of simple in-memory advice sets, we have a Sparse Merkle tree left to implement. This could be a fairly straightforward implementation of a Sparse Merkle tree. Specifically:

1. We don't need to implement any compaction logic.
2. We can still maintain the current simple interface where the indexes are at most 63 bits.
3. We ca

[2022-06-21 23:47] bobbinth opened #262 "Miden VM executable and crate organization"
Currently, two crates generate executable files: `examples` and `tools`. Both use functionality exposed by the `miden` crate, which in turn uses `processor` crate and `verifier` crate.

This seems like a fairly confusing arrangement, and it will probably get even more confusing as we add more things (e.g., repl tool). So, I'd like to see if we can re-shuffle things a bit to make the structure more

[2022-06-22 15:36] frisitano commented on #262
I can pick this up @bobbinth

[2022-06-22 16:00] bobbinth commented on #262
@frisitano - that would be awesome! but i think as the first step, we should probably flash out what the parameters for each would look like. let me know if you'd like to take a stab at this (we can do it in this thread).

[2022-06-22 20:02] 0xKanekiKen opened #266 "Migrate all diagrams to assets folder in docs crate"
At the moment, we keep all the diagram images externally and would like to migrate them to [assets](https://github.com/maticnetwork/miden/tree/next/docs/src/assets) folder in docs crate. A couple of the diagrams have already been moved & rest all needs to be migrated.

[2022-06-23 06:46] bobbinth commented on #200
One other option: if we can simulate power of two computation using already existing instructions in something like 10 - 20 cycles, I think we can just move the `pow2` operation to the standard library and get rid of the co-processor entirely.

[2022-06-23 09:04] jonathanxuu commented on #249
Hi, thanks for your reply!
First, I would like to list the data formats that may exist throughout the Decoding Process:
1. Original RLP Code;
2. Binary RLP Code;
3. RLP Code in the form of field element;
4. Better representing format for String Operations, such as ASCII in form of field element(UTF-8 for further optimization)
About '3.RLP Code in the form of field element':
To store RLP Code effic

[2022-06-23 09:09] jonathanxuu commented on #249
Hi, thanks for your reply!
First, I would like to list the data formats that may exist throughout the Decoding Process:
1. Original RLP Code;
2. Binary RLP Code;
3. RLP Code in the form of field element;
4. Better representing format for String Operations, such as ASCII in form of field element(UTF-8 for further optimization)

# RLP Decoder
## General idea
RLP decoder is used to decode RLP Code in

[2022-06-23 10:37] frisitano commented on #262
Hey @bobbinth , yeah I'm happy to make an initial proposal for cli interface and then we can review?

[2022-06-23 19:35] bobbinth commented on #262
@frisitano - sounds good! Thank you!

[2022-06-23 20:31] bobbinth commented on #249
This makes sense, and I think this would be a great addition to the standard library. A couple of questions/comments:

- Should this procedure work with fixed-size inputs or variable-size inputs? Or should we have two different versions?
- For fixed size inputs, what would be a good setting? e.g., should it work with single field elements or with words (4 field elements)? Or maybe something else?

[2022-06-24 07:13] 0xKanekiKen commented on #109
The issue I think has been resolved now. I don't see a NOOP when compiling a script in the assembly. For eg in the above cases I'm seeing the following outputs:

<h2>Procedure without Locals</h2>

Assembly
[code]
Compiled
[code]
Op Batches:
[code]

<h2>Procedure without Locals</h2>
Assembly

[code]

Compiled
[code]
Op Batches:
[code]

[2022-06-24 07:25] bobbinth commented on #109
@0xKanekiKen - great! Thanks for checking!

[2022-06-24 07:25] #109 closed

[2022-06-25 18:39] frisitano commented on #262
I was thinking that something like this could work:
[code]

[2022-06-25 18:46] frisitano commented on #262
I was thinking that something like this could work:
[code]

[2022-06-25 21:33] bobbinth commented on #262
I like it! A few questions/comments:

- Should we make some of the parameters optional or default to something? For example:
  - For inputs, we could set the default to `script_file.inputs` (or something similar).
  - For outputs, the default could be just to print to stdout.
  - For `num_outputs` we could set the default to 16.
  - For proof file, we could set the default to `script_file.proof` (

[2022-06-25 22:06] frisitano commented on #262
Yeah I think this makes sense.

If we use JSON / TOML the input file can contain both public inputs and advice provider data - the respective command can extract the data required?

Maybe we provide the option of specifying the script file or alternatively a hash via the command line?  I'm just thinking of the UX where a user is forced to generate a hash to execute the verify command?

My thinking

[2022-06-26 02:40] bobbinth commented on #262
Yes - agreed.

I think both could be useful, but I think we should start with the second option. We could probably add another subcommand which takes a script and outputs its hash. Maybe `miden compile` or something like that?

I have two reservations about combining them:
1. If we combine proof and outputs, why do we exclude the inputs? Maybe in this case we should put public inputs, outputs, and

[2022-06-26 06:53] frisitano commented on #262
This sounds reasonable.  What behaviour would we desire from the `miden compile` command.  Would we just want to print the hash stdout?

I'll start drafting some code.

[2022-06-26 06:58] bobbinth commented on #262
Yes, for now it can probably just print out hash + time it took to compile. We can probably add more stats in the future.

[2022-06-27 06:57] 0xKanekiKen commented on #200
After thinking about it, I've come up with a stdlib script which can be used for pow2 computation. The script takes 44 VM cycles.

[code]
Decomposing a number to it's binary representation takes 18 cycles (not sure if it can be improved) and aggregation takes another 26 cycles.

Discussing this with @bobbinth, I determined that we can make use of a VM instruction which reduces the total operation

[2022-06-27 08:05] grjte commented on #233
Closed by #259

[2022-06-27 08:05] #233 closed

[2022-06-27 19:20] bobbinth commented on #200
Thank you! My opinion is that 44 cycles is probably too many, and in the long term I favor the `binacc` approach. One question is whether we should do it in stages and first implement the `pow2` procedure using the simpler but less efficient approach. And once this is done, we can update this to a more efficient approach. Specifically, the steps could be:

1. Update `pow2` assembly parser to use t

[2022-06-28 11:56] 0xKanekiKen commented on #266
@grjte Thanks for pointing it out. I will update it as well.

[2022-06-28 17:32] tohrnii commented on #137
Based on @bobbinth's suggestions, a new decorator structure is being implemented in PR #265.
First of all, debug decorator operation has been removed entirely since `exec_iter()` gives us all the same debug info.
A new decorator type can be introduced called `AsmOp` which maps an assembly instruction to the start of corresponding series of operations. This decorator variant takes a string as input

[2022-06-29 04:55] bobbinth commented on #137
I think the above makes sense - but I think we should do this in stages. You already did the first part (removing the `debug` operation). I think the next step would be to introduce the `DecoratorMap` structure and to make it work for `Advice` decorators - so that we can remove them from `Operation` enum. I suspect this would take some effort as we'll need to make sure `SPAN` blocks are merged tog

[2022-06-29 07:23] jonathanxuu commented on #249
Yes, we should start with 'fixed-size' inputs.

For 'fixed-size' inputs, I tend to start with 1 word (the word is provided directly by the stack).

As mentioned before in the thread, 1 word can contain 28 characters (1 field element could hold 7 R-bytes As R-bytes in field element form), and the ‘fixed-size-input’ procedure converts this 1 word to ASCII in the form of field_element, with the numbe

[2022-06-29 19:24] frisitano commented on #262
Tracking:

- [ ] add prover crate and move relevant functionality from miden crate there.
- [ ] merge examples into the miden crate and make miden crate output an executable (which would be the same one as currently produced by examples crate).
- [ ] refactor CLI interface of the miden crate and get rid of the tools crate (this can also be split up into a couple of PRs).

[2022-06-29 22:43] bobbinth commented on #249
I'd prefer the 1 word approach. Though I wonder if we should do 5 elements -> 4 elements conversion. If I understand things correctly, 5 field elements could contain up to 35 characters. Once decoded, these characters could be grouped into 4 field elements (assuming ASCII encoding) as 9 * 4 = 36. But if this complicates things, we can stick to 4 elements -> 4 elements conversion.

In the future, i

[2022-06-30 11:21] 0xKanekiKen commented on #200
Discussion this with @bobbinth, the updated implementation of `pow2` opcode and modified `binacc` instruction are as follows:
[code]

The instruction can now, therefore, be used to check whether a value fits into a certain number of bits or not. Though, pow2_acc will be undefined after some iteration of the modified `binaac`.

[2022-06-30 17:03] 0xKanekiKen commented on #200
Thanks @bobbinth for the review!

I'll keep this in mind in the implementation.

Agreed! Apologies for the confusion. I've updated the pseudo code to incorporate this. Meanwhile, I've replaced the `push(1)` with `dup` as you suggested. Post this operation we had an operation where we were pushing 2. I've replaced it with `dup` followed by `Incr`. Let me know if we should revert to the original `pu

[2022-06-30 19:59] 0xKanekiKen commented on #266
Closed by https://github.com/maticnetwork/miden/pull/276

[2022-06-30 19:59] #266 closed

[2022-06-30 21:13] bobbinth commented on #200
Thank you! It seems like the procedure is taking ~17 cycles. So, I guess the question is whether this is a good enough of an improvement over the procedure which uses ~40 cycles to justify having the `binacc` operation.

[2022-06-30 21:24] 0xKanekiKen commented on #200
## Binacc Air Constraints

I've adopted the following notation to describe AIR constraints: for column $z$, we represent the value in the current row & next row as $z$ and $z'$ respectively. $s_0 ... s_{15}$ are the columns representing the top $16$ slots of the stack.

The helper column value should remain binary.

$$
f_{binacc} \cdot (h_{0}^2 - h_{0}) = 0
$$

The transition constraint for `exp`

[2022-06-30 21:29] 0xKanekiKen commented on #200
f_{binacc} \cdot (s_{1}' - s_{1} * ((s_{0} - 1) * h_{0}' + 1 )) = 0
 $$

The degree of this constraint is coming out to be **10**. I think the max allowed degree was **9**? If it is the case then we will have to break this down into two formulas which will increase the VM cycle count by at least 2(`push` & `drop`).

[2022-06-30 21:44] bobbinth commented on #200
Another way around it is if $f_{binacc}$ has degree less than $7$. But we'll need to see if we actually have enough of such operations available.

[2022-06-30 21:47] 0xKanekiKen commented on #200
I was thinking of taking the value we are trying to raise 2 to as an immediate value to `pow2` opcode & planning to raise an error if the immediate value in the assembly is anything but 0 ... 63. Given it's costly and we should avoid it, the new VM cycles for both **safe**(to check if the top value is less than 64 or not) and **unsafe** option where the value is at the top of the stack are as foll

[2022-06-30 23:12] bobbinth commented on #203
One of the drawbacks of the above approach is that we get very few degree 6 ops available. Beyond control flow operations, we don't currently have a lot of operations which would require degree 6 flags or smaller. The ones that come to mind are `u32split` (which we actually can't put in the degree 6 bucket because it requires 4 range checks) and maybe `binacca`. But in the future we might need to

[2022-07-01 05:20] bobbinth commented on #200
Thinking about it a bit more, I believe we can simplify things a bit by changing slightly how `binacc` works.

Assume the stack is in this state:
[code]
Applying `binacc` to this state could result in the follwing:
[code]
Where $b$ is the least significant bit of $a$. The constraint could be $a' \cdot 2 + b = a$ - so, we don't need to waste a division to check this.

If this approach works, we cou

[2022-07-01 09:01] 0xKanekiKen commented on #200
I guess we then wouldn't need to do a binary decomposition of the value on top of the stack?

An high level implementation & AIR constraints of the above approach are as follows:

[code]
It will now take **14** VM cycles with no `push` operation.

## Binacc Air Constraints

I've adopted the following notation to describe AIR constraints: for column $z$, we represent the value in the current row &

[2022-07-01 14:42] bobbinth commented on #200
Looks good! By convention, instructions can access helper registers in the current cycle (rather than the next). So, we should just replace $h_0'$ with $h_0$ in the above.

[2022-07-03 07:48] tohrnii opened #287 "Change return type of op_code() function to u8"
After decorators are moved to a separate decorator type following PR #282, all variants in Operation enum now have binary values, and op_code() could probably just return u8 rather than Option<u8>.

[2022-07-04 07:51] bobbinth commented on #262
Closed by #285 and others.

[2022-07-04 07:51] #262 closed

[2022-07-04 08:15] bobbinth opened #288 "Move examples into .masm files?"
We have a few examples (not all of them working) to make it easier for people to play with the VM. Currently, the examples can be invoked via `miden examples` cli command. I am wondering if instead of having such a dedicated command we should move examples into `.masm` files which can be run using `miden run` command.

Such examples could go into `miden/examples` directory, and we could have a ded

[2022-07-04 09:14] tohrnii commented on #288
I am wondering if it's better to have examples in a more accessible form instead like having it as part of the planned miden assembly playground or in the form of tutorials + assembly playground and not have it as part of the main miden codebase?

[2022-07-04 09:48] 0xKanekiKen commented on #200
The task can be broken down into the following sequential parts:

- [X] Update pow2 assembly parser to use the 38 cycle procedure.
- [ ] Remove pow2 VM operation and the associated co-processor.
- [ ] Implement binacc (or similar) VM operation.
- [ ] Update pow2 assembly parser with the more efficient implementation.
- [ ] Update mdbook

[2022-07-06 16:38] bobbinth commented on #67
Closed by #117 and #269

[2022-07-06 16:38] #67 closed

[2022-07-07 17:59] #287 closed

[2022-07-08 20:24] Overcastan commented on #171
A full list of planned to be changed u32 operations with underscores is presented below.
The changes are made in a similar way to the approach used in the u64 module of the stdlib.

- Addition

    - `u32checked_add`
    - `u32wrapping_add`
    - `u32overflowing_add`
    - `u32checked_add.b`
    - `u32wrapping_add.b`
    - `u32overflowing_add.b`

- Subtraction

    - `u32checked_sub`
    - `u32wra

[2022-07-08 20:35] bobbinth commented on #171
Thank you! A couple of thoughts:

* I don't think we need `u32checked_eqz` as it is the same as `u32checked_eq.0`.
* We probably need the `unchecked` version for `lt`, `lte`, `gt`, `gte`.

[2022-07-08 21:30] bobbinth commented on #171
Oh - one other thing: the list is missing the following operations:
* `u32unchecked_add3`.
* `u32unchecked_madd`.

[2022-07-09 07:23] Overcastan commented on #171
But aren't the regular (field) operators `lt`, `lte`, `gt` and `gte` work as unchecked versions of `u32checked_lt`, `u32checked_lte`, `u32checked_gt` and `u32checked_gte`?

[2022-07-09 07:30] bobbinth commented on #171
Regular field operations for comparisons are actually much less efficient than `u32` versions (e.g. 17 - 18 cycles vs. 5 - 7 cycles). So, it would be rather wasteful to use regular field operations for unchecked versions.

[2022-07-09 07:34] bobbinth commented on #125
For v0.1 release (which will accompany v0.2 release of the VM), we will include the following in the standard library:

* `math::u64`
* `crypto::hashes::blake3`
* `crypto::hashes::sha256`

I'm closing this issue and will open another one for v0.2 stdlib content.

[2022-07-09 07:34] #125 closed

[2022-07-09 07:53] bobbinth opened #295 "Standard library v0.2 content"
Standard library v0.1 includes the following modules:

* `math::u64` - for handling unsigned 64-bit integer arithmetic.
* `crypto::hashes::blake3` - for computing 2-to-1 hashes only.
* `crypto::hashes::sha256` - for computing 2-to-1 hashes only.

For v0.2 release, I'm thinking it would be nice to do the following:

* `std::math`
  - Finish `math::u256` module: most of this is already done.
  - May

[2022-07-09 08:18] bobbinth opened #296 "Improvements to stdlib documentation"
While working on #294, I thought of a few potential improvements to the automatic documentation generation we have for stdlib. To list a few of them:

* We should probably introduce a new type of comment for documentation comments to make parsing simpler. Maybe something like `#!`.
* One thing that would be good to have is a way to specify some structured info about procedures. For example, whethe

[2022-07-09 08:51] bobbinth opened #297 "Procedures with const parameters"
Currently, we for some built-in assembly instructions we allow specifying immediate values (e.g., `add.b`). This is convenient because in many cases, knowing a value which the instruction needs to work with at compile time allows for more efficient code generation.

With procedures, this is currently not possible. So, we can't say something like `u64::checked_add.b`. In some cases, this leads to m

[2022-07-09 15:26] grjte commented on #256
Closed by #281

[2022-07-09 15:26] #256 closed

[2022-07-09 21:47] bobbinth opened #298 "Build a stand-alone Miden assembly parser"
As discussed in #225, it might be a good idea to separate Miden assembly parsing from MAST generation. There are two primary reasons for that:

1. Serialization: by the time we have a MAST (in a form of a `Script` struct), some info about the original assembly file is already lost. Specifically, the procedures have already been inlined, and thus, serializing MAST could result in a much bigger outp

[2022-07-10 06:55] tnachen commented on #298
I can extend the existing parser for docs to make it more extensive to handle this.

[2022-07-10 06:58] tnachen commented on #296
This makes sense, I think for '#2' a general attribute notation makes sense and the parser can lay out columns based on attributes detected. The downside I suppose is that if we want to use these attributes to be more useful than just for docs display, then returning more defined attributes in the class can be useful for other purposes.

[2022-07-10 15:47] grjte opened #299 ""Backfill" memory range check requests to op exec row instead of AuxTable memory trace row"
With the current implementation of range check lookups for stack and memory in the `p1` column (implemented in #286), it's possible for requests from the stack and requests from memory to occur in the same row of the execution trace, since the memory requests occur during each row of the memory segment of the Auxiliary Table trace, whereas the stack requests occur when the operation is executed. I

[2022-07-10 15:58] grjte opened #300 "Error consistency during trace generation"
Currently, we don't have a consistent approach to handling unexpected behavior. In some cases, we throw errors where a proof can be generated but we know it has issues (i.e. an assumption of the operation is not met). In other cases, we don't throw an error, and we allow it to continue if a valid proof can be generated, even if an underlying assumption of an operation is broken.

It would be good

[2022-07-10 16:27] frisitano commented on #300
I also noticed a few instance of `assert!(...)` being used in the code which will lead to panic upon failed assertion.  I wonder if it would be preferable to throw errors that can be handled?

[2022-07-10 18:53] bobbinth commented on #300
My preliminary thoughts:

* The only time when processor/prover/verifier etc. should panic is when there is a bug in our codebase. So, any asserts we use should not be triggered by user inputs.
* If we can't generate an execution trace (e.g., in case of divide-by-zero), we should return an error.
* If the execution trace can be generated, but we know that the proof won't be verified (e.g., perform

[2022-07-10 18:58] bobbinth commented on #299
One other thing to mention here: because range-checking of delta values will now happen in the stack, we need to make sure that the same delta values are used in memory trace. To do this, we need to include delta values into row values of the memory trace table.

[2022-07-10 19:12] bobbinth commented on #296
I tend to agree - there is probably a set of attributes which can be useful beyond documentation purposes (e.g., `unstable` attribute could be use during compilation to print out a warning). Though, I'm a bit hesitant to have purely informational attributes (e.g., number of cycles) handles this way too. And having two different types of attributes (one general, and one for documentation purposes)

[2022-07-10 19:13] bobbinth commented on #298
I think we should probably use the current `.masm` parser as the base as it has already a lot of the logic built for this (e.g., tokenization).

[2022-07-11 06:15] bobbinth commented on #231
It maybe be possible to implement kernel ROM without adding any extra columns. Here is how I think this can be done.

First, let's start with the most basic functionality. Let's denote $p_0$ as the running product column which keeps track of all kernel function calls. When we make a kernel call the value of $p_0$ is divided by the value representing the root of the called function (4 field element

[2022-07-11 08:54] grjte commented on #231
Just a thought (and I haven't thought about other implications) - If we wanted to, couldn't we prevent the verifier from knowing even which kernel was used by having a ROM table for each kernel. If the kernel doesn't have too many functions then it wouldn't add that many rows in the case where is not used

[2022-07-11 15:28] bobbinth commented on #231
Yes - correct. Fixed!

Yes, correct. The number of times is directly related to how many times the function is called from the executed program.

* The final value of $p_1$ will have a boundary constraint which fixes the kernel used in a given computation.
* By design, $p_0$ column can contain function roots which come from the specified kernel, and nothing else.
* Whenever a kernel function is ca

[2022-07-12 10:55] tohrnii opened #303 "Decorator related refactoring"
Based on @bobbinth's comments on PR #292, it might be a good idea to refactor a few things related to decorators.
- Add `in_debug_mode` flag to `Process` struct. Currently this flag is only present in `Decoder`. This flag dictates whether the processor is run in debug mode.
- Currently `AsmOpStats` contains generalized form of operation (eg. generalized form of `push.123` is `push`). The method to

[2022-07-13 01:04] bobbinth commented on #203
A slight update to the above. We actually have several "high degree" user operations. These are:

* `u32split` (degree 3) - this would go into the degree 6 bucket as described above.
* `rpperm` (degree 3) - this would also go into the degree 6 bucket.
* `mpverify` (degree 3) - this would also go into the degree 6 bucket.
* `mrupdate` (degree 5) - this would need to go into the degree 4 bucket.

Th

[2022-07-13 16:09] grjte opened #305 "Change type of `clk` to u32"
Comment for the future: we frequently use `u64` or `usize` for `clk` - but in our field, `clk` is guaranteed never to exceed a u32 value. I wonder if some point we should go through and update it everywhere to u32.

_Originally posted by @bobbinth in https://github.com/maticnetwork/miden/pull/304#discussion_r919642358_

[2022-07-14 10:37] grjte commented on #200
An additional note that the documentation for the `stdlib::math::u64` shift and rotate operation docs will need to be updated with new cycle counts once the new approach is settled

[2022-07-14 13:23] grjte opened #307 "Optimize execution trace generation for Memory co-processor"
Currently, when the execution trace is generated by the Memory co-processor, we loop through the trace and compute the inverse of the delta value at each iteration (the code is [here](https://github.com/maticnetwork/miden/blob/b577a5ff1e7969b1291fa0c49ab47bd154e3a92e/processor/src/memory/mod.rs#L238)). Instead, we should switch to using batch inversion.

[2022-07-14 13:28] grjte commented on #299
This could also be a good time to revisit the approach to providing delta values and generating the trace (i.e. when to do each thing). Currently, we loop through the trace once in `append_range_checks` and again in `fill_trace`. At some point, it would be good to benchmark whether it would faster to generate the trace at the same time that we handle range checks and then copy it (like the bitwise

[2022-07-16 07:07] bobbinth opened #314 "Miden CLI improvements"
A few things I noticed that could be good to improve in Miden CLI:

1. Currently, we seem to require a `.inputs` file to be present. Instead, I think, if the file is not present, we should default to blank inputs.
2. In input/output files, u64 values are encoded as integers. This is not a problem for Rust, but for portability reasons, it might be good to encode them as strings because JavaScript w

[2022-07-17 11:59] 0xKanekiKen opened #316 "MPVERIFY instruction potential refactoring"
`MPVERIFY` computes the Merkle root of a path for a given specified node in the stack. The stack is arranged as follows (from the top):

- depth of the path, 1 element.
- index of the node, 1 element.
- value of the node, 4 elements.
- root of the tree, 4 elements.

Currently, post this operation, we are replacing the node value with the newly computed root calculated by the `hasher` co-processor.

[2022-07-17 12:04] 0xKanekiKen opened #317 "Upgrade ''Assertion" in MPVERIFY instruction"
For the initial context, refer to #316. Right now, we are only doing an assertion in debug mode. We should upgrade this to be in all modes.

[2022-07-18 21:07] maxgillett commented on #231
On a similar note, I believe we need a mechanism to store data that is shared between kernel calls. For example, in the transaction kernel, vault contents of the prologue needs to be stored and compared with those of the epilogue, and in the block kernel, note consumption need to be tracked as transactions are verified to avoid double spending. One solution is to introduce a Kernel Memory coproces

[2022-07-19 01:22] bobbinth commented on #231
I was actually thinking we could just set `context = 0` for kernel memory. This way, no additional structure is needed - we'll just use the same memory chiplet (new name for "coprocessor") as we have now.

[2022-07-19 07:23] tnachen commented on #296
Ah got it, seems like the serialize and const is actually useful for doc and also the main parser. It seems like it might be easier to treat documentation parser and the actual masm parser separate as the main metadata that's being extracted is a bit different (description and comments is not parsed, etc).

If purely doc focus feels like we can special case variables that are important for doc gen

[2022-07-19 07:25] tnachen commented on #298
Got it, I'd like take this on as it seems relatively straight forward. Is there any preference what this binary format we should store AST in?

[2022-07-19 11:48] 0xKanekiKen opened #320 "Remove `EQW` instruction set from the VM and emulate it using other instruction in assembly"
Theoretically, we can afford operations which is of degree 5, but @bobbinth feels it's not worth it for `EQW`.

Therefore this issue can be broken down into 3 separate task:

- Remove `EQW` instruction from the VM.
- Emulate `EQW` operation using other VM instruction in the assembly.
- Update the docs/ cycle count of the impacted operations.

[2022-07-20 14:28] 0xKanekiKen commented on #320
@4rgon4ut- Thanks for looking into this and coming up with a sequence of operations. On a perfunctory glance, I think this can be further optimized(the number of cycles could be reduced). Also the immediate values of `dup` operation for  $2^{nd}, 3^{rd}, 4^{th}$ element comparison are off by $1$. Remember the stack has been shifted by 1 to the right when you did the initial comparison of the top e

[2022-07-20 19:51] 4rgon4ut commented on #320
@0xKanekiKen Thanks for great explanation and your time. It looks like my solution was too sloppy in terms of optimization. I'm going to learn more about VM ops cost and try to represent the most optimal sequence for emulation to move forward with this issue. It seems like we anyway should compare all elements one by one because we have no `JUMP`'s.

[2022-07-21 09:20] frisitano opened #325 "Advice Set Addition - merkle tree witness / sparse merkle tree witness"
When providing data to miden via (sparse) markle trees it is not necessary to provide the full data set but only the witness associated with data that is read or modified.  Hence, it will be useful to introduce additional advice sets for merkle tree witness and spare merkle tree witnesses.  This will reduce the memory overhead.  What do you think?

[2022-07-21 10:38] bobbinth commented on #325
Currently we have 3 different [advice sets](https://github.com/maticnetwork/miden/blob/next/core/src/inputs/advice/mod.rs#L16):

1. Merkle tree - where we need to provide all leaf nodes.
2. Sparse Merkle tree - where we need to provide only non-zero leaf nodes.
3. Merkle path set - where we can provide 1 or more Merkle paths agains some tree (either sparse or otherwise).

I believe the situation y

[2022-07-21 11:01] frisitano commented on #325
Ahh yes, I hadn't fully appreciated the structure of the Merkle path set.  Nice!

[2022-07-21 11:01] #325 closed

[2022-07-22 06:52] bobbinth commented on #298
I think as the first step we can implement the parsing part only. Serialization to binary format could be done in future PRs.

[2022-07-24 22:44] Goldmindsx commented on #320
Talk to MATIC Dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:45] Goldmindsx commented on #317
Talk to MATIC Dev via live chat https://direct.lc.chat/14345826/

[2022-07-24 22:45] Goldmindsx commented on #298
Talk to MATIC Dev via live chat https://direct.lc.chat/14345826/

[2022-07-25 16:53] 4rgon4ut commented on #320
@0xKanekiKen Seems like such logic fits the requirements enough(I personally do not see the way to make it cheaper).
Final sequence that I got:
[code]
I'm going to finalize If you approve such sequence.

[2022-07-25 17:24] bobbinth commented on #320
@4rgon4ut - yes, the sequence looks good (I don't see a better way of doing it either). Thank you for working on this! If you'd like, I can assign this issue to you.

[2022-07-25 17:43] 4rgon4ut commented on #320
@bobbinth - Great. Assign it to me please.

[2022-07-25 17:49] bobbinth commented on #320
It is all yours! :)

[2022-07-25 19:39] bobbinth opened #329 "Naming convention for assembly instructions"
## Arithmetic instructions

With the work done in various recent PRs (#311, #326, #327) we have refactored u32 operations to follow the naming convention similar to u64 module in stdlib. Specifically, for many instructions we have `checked`, `unchecked`, `wrapping`, and `overflowing` variants. For example, for 32-bit addition we have the following:
* `u32checked_add`
* `u32overflowing_add`
* `u32w

[2022-07-26 02:52] bobbinth commented on #320
Closed by #330

[2022-07-26 02:52] #320 closed

[2022-07-26 02:54] bobbinth commented on #171
Closed by #311, #326, #327 and others and remaining elements moved into #329

[2022-07-26 02:54] #171 closed

[2022-07-26 13:24] grjte commented on #329
Just to clarify - are you proposing having both `checked` and `unchecked` variants for the instructions you listed (`inv`, `neg`, `and`, etc) or are you proposing adding `checked_` as a prefix to the existing instructions without adding any new ones? I probably wouldn't do the latter, since I don't think there's much benefit, and seeing a `checked` option usually gives the expectation of an `unche

[2022-07-26 22:40] bobbinth commented on #317
Closed by #318

[2022-07-26 22:40] #317 closed

[2022-07-26 22:41] bobbinth commented on #316
Closed by #318

[2022-07-26 22:41] #316 closed

[2022-07-28 04:30] bobbinth opened #335 "Improvements in memory lookup layout"
Currently, the way we compute memory lookups in the stack and in the memory chiplet lead to minor inconsistencies, and it would be good to fix these.

Specifically, in the memory chiplet, words are laid out with the first element listed first. However, on the stack side, the words on the stack have the last element listed first (because they are in the stack order) while helper registers get popul

[2022-07-28 10:50] Al-Kindi-0 opened #336 "Memory pre-loading"
The following issue came up during discussions related to the implementation of the number theoretic transform (NTT).
In many situations, it is required to have arrays of large sizes loaded into memory before the actual program starts running. This is the situation for example when doing NTT where a large array containing roots of unity is needed during the iterations of the algorithm. Clearly the

[2022-07-28 15:05] 4rgon4ut opened #337 "Contributing guideline"
This issue created to discuss contributing guideline details.

I created raw example adapted from template that I found good:
https://gist.github.com/4rgon4ut/ae068b84a50c1b8ae66cd127337c1b9a

I have several topics to discuss(@bobbinth):

1. Do we actually need contributing guideline on current stage of the project?

2. Branching. As I see project have active branch named `next` and we also have g

[2022-07-28 19:01] bobbinth commented on #336
I am thinking these could be two separate thing. Basically, I think we'd need to support the first approach regardless of whether we support the second - so, might as well figure out what's the best way to do that.

First, to set the baseline. We could write constants to the memory using `push` operations. If we have 1K constants to write, this would take close to 3K VM cycles (1K cycles to push t

[2022-07-28 19:12] bobbinth commented on #337
@4rgon4ut - thank you for bringing this up! @grjte will probably have more comments on this, but a few thoughts from my end:

1. Yes, I think this would be great to have.
2. Yes, `next is intended to be the branch for developing next versions (v0.2 for now, and when v0.2 is released, `next` will be for v0.3 development). There still could be fixes against the `main` branch, but I don't foresee man

[2022-07-28 20:59] grjte commented on #337
Hey @4rgon4ut I'm really happy to see this! It would be a great addition and I really like what you've put together. There are a couple things it would be good to discuss here and then after that maybe you can run it through google docs or similar for a quick grammar/spellcheck then open a PR where we can refine the rest. (I have some smaller comments I'd put inline)

I know we don't want to have

[2022-07-28 21:02] grjte commented on #337
I'd love to hear thoughts from other contributors on which of the things above would have helped you vs. discouraged you from contributing @tohrnii @0xKanekiKen and all others :)

[2022-07-28 21:08] grjte commented on #337
I think docs changes have been happening side by side with design changes we've been making, so it has been organic to have them on the next branch. I don't think forcing docs to happen elsewhere wouldn't have made sense for most of the cases in the past few months. I think I would keep doing docs on the next branch at least until the 0.3 release and then maybe reassess

[2022-07-29 03:04] maxgillett commented on #258
A sketch of a potential implementation for `crypto::smt::get` that uses the `mtree.get` operation and is compatible with the u64 `SparseMerkleTree` advice set is below. Note that many stack manipulation operations are missing from the first two procedures.

The idea is to iterate over each field element limb in `KEY` and verify the provided paths for each of those limbs. Extension nodes are used t

[2022-07-29 03:35] 4rgon4ut commented on #337
So we finalize on dashes as separators, if no one has any objections.

I'm personally think issue number in branch naming is also good and can save some time. However, we can standardize PR template so that PR description will contain issue number and link. Also would be nice to create PR/issue templates and add references to guide.

---

Seems like good practice too but this requirement may lead

[2022-07-29 08:42] grjte commented on #337
Yep, I agree with this! Do you have something in mind already or templates you like?

Yes, any conventions will lead to an increase in requesting that people check the contributor guidelines, so I think we'll see a similar issue with branch naming and doc line length. That said, I think we'd be ok with letting some things slide through for first-time contributors since we don't want to discourage

[2022-07-29 14:55] bobbinth commented on #337
I agree that pretty much all of this should be "soft requirements" for first time contributors. For example, if someone uses underscores instead of dashes in their first PR, I wouldn't necessarily call them out on that. For repeat contributors we can ask for stricter adherence to the guidelines, but also probably in a gradual manner.

A few specific comments:
* Yes, let's use dashes instead of und

[2022-07-29 14:56] bobbinth commented on #314
Closed by #321

[2022-07-29 14:56] #314 closed

[2022-07-29 19:46] bobbinth commented on #203
Using the approach described above, I came up with the operation grouping scheme which I think satisfies all the conditions we need. The picture of how this looks like is pasted below.

A few general notes:
* We break operations into 3 high-level groups based on their maximum constraint degree:
  - 64 operations with max degree 2.
  - 16 operations with max degree 3.
  - 8 operations with max degr

[2022-07-30 20:47] maxgillett commented on #258
To clarify the above, extension nodes can represent either a compacted leaf or branch node, similar to Ethereum's MPT.

For example, a sparse Merkle tree of depth 3 with a single leaf node hash `h1` at key `001` (where $e_i$ denotes an empty hash at depth $i$) would be represented by an equivalent tree of depth 1, where the extension node is a single leaf node hash `H(2, 01, h1)` of the form `H(de

[2022-07-31 07:22] bobbinth commented on #258
Thank you for the explanation! I think I understand the overall construction. A couple of questions:

1. By looking at a node, how can we tell if this is an extension node or a a leaf node? For example, in your second example, could the prover claim that the tree contains a single node with value `ROOT2`?
2. If I'm understanding things correctly, it seems that the number of extension nodes which n

[2022-07-31 07:48] bobbinth commented on #258
Another potential approach could be to define a leaf node as: `hash(value, remaining_path)` and to keep all internal nodes as regular nodes. With this approach, a tree of depth 3 with 2 nodes could be compresses like so:

![image](https://user-images.githubusercontent.com/43513081/182015588-b2b4f2e2-f0ff-48c2-829a-1be918e5ce2b.png)

And if we added another node, it could be compresses like so:

![

[2022-07-31 19:00] bobbinth commented on #258
One other thought regarding handling variability: maybe for things like account/nullifier databases we could have a layered:

1. The first layer is a regular sparse Merkle tree of depth 32 (or something close).
2. The leaves in this tree would be roots of compressed sparse Merkle trees (or if there is only one account present in a given leaf, then just store the leaf directly).

With the above str

[2022-07-31 19:04] maxgillett commented on #258
By the way, I noticed that there's an error in my second and third example: the depth in the extension node (orange box) should be 2, not 3.

The prover will nondeterministically provide this information, but it should be impossible to lie about. We can keep track of the total depth when working through a Merkle proof, which in this example would be 1+2+1=4, and verify it that it matches the tree'

[2022-08-01 09:53] 0xKanekiKen commented on #337
When I started contributing, I didn't use to follow all the conventions that we have described above. But I think these things became obvious to me with time by inferring from the existing code base/commits. And TBH, none of the above conventions would take a substantial time/effort on the contributor side.
I second [@bobbinth](https://github.com/bobbinth)'s view that pretty much all of this shoul

[2022-08-01 11:25] Al-Kindi-0 commented on #336
Thank you @bobbinth for the nice description!
Two points, which are more of curiosities, that I have:
1.  Where does the constraint of needing to add the element, to be hashed, instead of just replacing them come from?
2. Is there a mechanism of extending the stack "indefinitely" with the constants before the start? And can such a mechanism be leveraged/modified in the context of the current issue

[2022-08-01 12:43] Dominik1999 commented on #305
Can you assign me to it? It looks like I cannot do it myself.

[2022-08-01 15:01] bobbinth commented on #336
This comes from Rescue Prime specifications. I wonder if this can be changed without the loss of security.

Yes, this is possible and, I believe, @itzmeanjan actually implemented something like this for secp256k1 point multiplication. However, this will not work in all cases - so, we still need to find an efficient for moving data from the advice tape to memory.

Another thing that comes to mind:

[2022-08-01 22:05] grjte commented on #305
Sure, it's yours. Thanks!

[2022-08-02 03:48] Lisalora opened #342 "Question: Verification always fail"
Hello everyone, I'm new here, trying to use the `next` branch of midenVM .
I have a question which is probably a bit silly. I tried to use Miden (`next` branch) and found that no matter what program I use, the verification result is `Err (VerifierError (InconsistentOodConstraintEvaluations)).`

If the program has `push` operation, i might have the assertion error:
[code]
The program i used is as f

[2022-08-02 04:26] bobbinth commented on #342
Hi there! Not sure if this will solve this, but one issue that I'm seeing is that you are not using the same inputs for generating and verifying the proof. Try changing:
[code]
To:
[code]
And see if that fixed it.

[2022-08-02 04:46] Lisalora commented on #342
sorry... my bad. But after fill in the `input[1,2,3]`, the verification result is still `Err(VerifierError(InconsistentOodConstraintEvaluations))`.

[2022-08-02 05:46] bobbinth commented on #342
Seems like there are a couple of other things happening here:

1. Miden VM expects that stack depth at the end program execution is exactly 16. We should document this much better and also show a much better error message if the stack depth is not 16 by the end of the program.
2. It seems like setting number of outputs to greater than 1 also causes issue. This is probably a bug that we'll need to

[2022-08-02 06:30] bobbinth commented on #342
Looking a bit more into the number of outputs bug - the issue is that the verifier interprets the output vector in a different order (so, if we reverse the output vector before feeding it to the verifier, everything should work). We should make sure to interpret the order of inputs and outputs consistently in the prover and the verifier and also create a test which covers the cases with more than

[2022-08-02 06:39] Lisalora commented on #342
Great! After reversing the output, it works!

[2022-08-02 07:20] Lisalora commented on #342
Another question about the `1`, how could the stack depth becomes exactly 16 at the end of the program?(after adding the two operations: `movup.5 & drop`)

I did another test for `dup.0`, the program shows next will fail (the origin_input on stack is [22,22])
[code]
But the program adding `movup.5 & drop` works fine, I would appreciate it if you tell me what happened here.

[2022-08-02 08:24] grjte commented on #342
@Lisalora I agree with @bobbinth that we should make some adjustments for usability, so thanks for bringing this up! For now, here's an explanation of what's going on.

TL;DR For any stack depth increase that occurs during program execution, there must be a corresponding stack depth decrease before the execution ends. (e.g. `dup.0` must be accompanied by a `drop` at the end)

In more detail -

MId

[2022-08-02 08:30] grjte commented on #342
@Lisalora We have a stdlib function that can be called at the end of execution to resolve the stack depth issue: https://maticnetwork.github.io/miden/user_docs/stdlib/sys.html

[2022-08-02 09:54] Lisalora commented on #342
Thanks!! An unexpected error comes when trying to figure out how to use `finalize_stack`:
The program with `gte not` works great:
[code]
However, replace `gte not` with `lt` (which sounds equal) leads to an unexpected error.
[code]

This confuses me a little, should I also lookup for the reason in the design [here](https://maticnetwork.github.io/miden/design/stack/main.html)

[2022-08-02 18:49] bobbinth commented on #342
This could be a bug inside `finalize_stack` procedure. We'll need to investigate. Thank you for finding all these!

[2022-08-03 06:57] bobbinth opened #347 "Potential stack overflow table refactoring"
Currently, we limit the initial and the final stack depth to exactly 16. The latter part is especially annoying because we need to drop items deep in the stack before a program finishes executing. This can lead to user confusion (as in #342) but also is really annoying for tests (where we need to add a bunch of extra operations at the end to ensure the stack is in the right state).

We can relax t

[2022-08-03 20:32] bobbinth commented on #203
Closed by #340

[2022-08-03 20:32] #203 closed

[2022-08-03 20:33] bobbinth commented on #190
Fixed by #331

[2022-08-03 20:33] #190 closed

[2022-08-03 20:35] bobbinth commented on #329
Closed by #341

[2022-08-03 20:35] #329 closed

[2022-08-03 20:54] bobbinth opened #350 "Assembly IO instruction refactoring"
IO operations are the only ones currently left still use "dot-format" (underscore format). As discussed in #329, it might be good to move them to the underscore format as well. Additionally, I think it might be a good opportunity for a bigger refactoring. Specifically, I'm thinking we could do the following:

* `push` operation stays as is now.
* `push.env.sdepth` -> `sdepth`
* `push.env.locaddr`

[2022-08-04 01:23] 4rgon4ut commented on #337
@bobbinth @grjte Thanks for your thoughts. I added some points to the guide(on which consensus has been reached).
There are also things in which we need to come to unity:

#### 1. Prefixing branch names with issue number.

#### 2. Rebase from next before submitting a PR.
As I understand, it is not "flow" disagreement, but rather trying to find right tradeoff between shortness(to not overflow newco

[2022-08-04 01:51] 0xKanekiKen commented on #342
I think it might be because of the fact that we are doing an `u32overflowing_sub` on 1 & 2 here (1 - 2). The `lo` & `hi` are result(1-2) in 2's complement as u32 and 0. Decomposing the result as u32 in two 16-bit numbers will yield two U16MAX - 1.
When we are building the running product column for 16-bit section of the range checker table, we are stopping the iteration right before U16MAX - 1 due

[2022-08-04 04:13] maxgillett commented on #258
The probability that, given an internal node exists in a SMT at the specified layer depth, only a single branch extends from it (as opposed to zero or two branches) is plotted below for varying key counts:

![fig](https://user-images.githubusercontent.com/1622077/182750813-10b1a897-bc78-45bd-913c-2ee9210003b3.png)

It appears that internal extension nodes would only be useful for compressing up to

[2022-08-04 07:18] grjte commented on #342
@0xKanekiKen thanks for your insights on this! I'll dig into it more today

[2022-08-04 07:56] itzmeanjan commented on #350
I think this will make instructions look more familiar --- cognitive parsing becomes easier.

[2022-08-04 08:07] grjte commented on #350
I'm in favor of getting rid of `pushw` and `popw`. They both have a big performance penalty that's a bit opaque right now, so it's probably better if people have to explicitly pad the stack & see the cycle cost whenever they need this functionality.

If we're getting rid of `pushw`/`popw`, I'd change `push`/`pop` for memory & locals to to `load`/`store` for the same reason. Otherwise I think the s

[2022-08-04 15:05] grjte opened #351 "Add assembly instruction cycle costs to the user documentation"
It's a fairly natural expectation for people writing assembly code that operations will have the same costs and be one cycle each, but this is not the case for Miden assembly, since it's actually a lift from our VM instruction set, designed to make it more usable.

As a result, people may tend write Miden Assembly code that is significantly more expensive than necessary or than they realize, since

[2022-08-04 15:11] grjte commented on #351
Note: in the longer run, it would be nice to have this get automatically calculated and updated, but this is probably a little ways off, so filling it in manually for now should improve the experience of anyone working in Miden Assembly, even if it does end up getting a bit out of sync

[2022-08-04 17:59] bobbinth commented on #258
Thank you! I personally, would favor simplicity of the algorithm over the amount of hashing that needs to be done by the hasher. Here is how I'm thinking about:

Assume that our target use case are data sets with between 1K and 1M items. On average, this means that Merkle path length should be somewhere between 10 and 20. Each hash takes 8 rows in the hasher table - so, verifying such paths transl

[2022-08-05 05:43] itzmeanjan commented on #351
This is really a good idea 👍

[2022-08-05 08:20] grjte commented on #337
@4rgon4ut Great! Here are my thoughts on the above.

Let's not do this. We'll just keep it simple with the existing `kebab-case` branch naming as you've described it.

I think we should ask people to rebase. There seems to be agreement from those contributors who have weighed in (you, @0xKanekiKen, and myself) that this is not too much to ask and would not have discouraged us initially. And as sta

[2022-08-05 15:41] bobbinth commented on #342
Closing this as after #346 and #353 the bugs should be fixed. Figuring out the best way to simplifying stack management is moved to #347.

@Lisalora - thank you again for bringing these up! Feel free to open other issues if you come across anything else.

[2022-08-05 15:41] #342 closed

[2022-08-05 16:37] bobbinth commented on #350
Agreed! I've updated the original post.

[2022-08-05 17:06] tohrnii commented on #351
I've created a gist of the spreadsheet with updated cycle costs: https://gist.github.com/tohrnii/21a78247e2df8a9938686cd98122201b
Also, maybe we should have a spreadsheet with cycle costs for stdlib procedures sometime in the future too.

[2022-08-05 17:20] bobbinth commented on #337
I agree with pretty much everything what @grjte wrote above. One question:

How does having a PR checklist affect number of tasks that Github shows in the summary of PRs? We frequently use checklists to track the progress within PRs, and it would probably create too much noise if each PR has 5 - 6 tasks listed by default.

[2022-08-05 18:00] grjte commented on #337
@bobbinth what about having it as a bullet point list instead of a task list?

[2022-08-05 18:16] bobbinth commented on #337
I think having bullet points should work. Also, I wonder if for the template:

* Instead of `Issue ticket number and link` section we should just have a bullet point saying something like `Relevant issues are linked in the description.`
* Add the link to "Commit messages and codestyle follow conventions." to the the actual doc.
* Get rid of `Tests passed.` bullet point as I think this is usually i

[2022-08-06 07:37] grjte commented on #351
Thanks @tohrnii! I think having the stdlib costs somewhere makes sense as well.

[2022-08-07 21:40] bobbinth opened #357 "New assembly instruction"
While going through the u64 module in stdlib, I noticed that some patterns of instructions are used frequently, and I'm wondering if it is worth implementing assembly instructions for them.

One such sequence is: `eq.0 assert` which asserts that the top of the stack is zero. An assembly instruction to do this could be called `assertz`.

Another such sequence is `u32overflowing_madd drop` which is

[2022-08-07 21:46] bobbinth commented on #351
@tohrnii - looks great! Looks like we have an issue `push.local.i` and `pop.local.i`. Unlike `push.mem` and `pop.mem`, it seems like they haven't been updated to use `MLOAD` and `MSTORE` operations.

[2022-08-08 05:27] bobbinth commented on #299
This might be a bit more complicated than I originally thought - primarily because it would affect opcode design. The issue is that, if we put memory range check into the stack, constraint degree for memory operations would increase to 3 (because we need to consume 2 range checks). But the groups where we place memory operations limit their constraint degrees to 2.

For `mloadw`, `mstore`, and `ms

[2022-08-08 06:03] bobbinth opened #358 "Remove `u32or` from the bitwise chiplet"
Currently, bitwise chiplet handles 3 bitwise operations: `u32and`, `u32or`, and `u32xor`. As discussed in #120, having just one is enough for fairly efficiently emulating the other two. I don't think should go quite as far - having `u32and` and `u32or` take as few cycles as possible is good as many hash functions use them (e.g., `SHA256` and `BLAKE3`).

But I think we could eliminate `u32or`. This

[2022-08-08 06:04] bobbinth commented on #120
Superseded by #358.

[2022-08-08 06:04] #120 closed

[2022-08-08 11:13] tohrnii commented on #358
@bobbinth - I'd like to take this one.

[2022-08-08 12:58] Al-Kindi-0 commented on #336
The sponge construction does allow for what is called "overwrite mode" as per section 6.2 in the reference work https://keccak.team/files/SpongeDuplex.pdf . So I don't see why it shouldn't work in our setting.
The question then is: would this simplification make your first proposal to use advice tape, without new instructions, competitive enough?

[2022-08-08 15:26] grjte opened #360 "refactor Hasher lookup handling in the chiplets bus"
As discussed in #348, the first version of the hasher handling in the chiplets bus was straightforward and left room for several future optimizations.

In particular, the following should be refactored and optimized in the future:
- how hasher lookup values are computed
- how lookups are requested from the decoder
- how lookups are stored for "providing" them to the bus from the hash chiplet modul

[2022-08-08 15:38] bobbinth commented on #336
If that is possible, that would simplify things quite a bit (and not only here). I think we probably would still want specialized instructions as I think this sequential "unhashing" will be a very heavily used operation in the VM - so, we'd want to make it as efficient as possible.

[2022-08-08 15:49] bobbinth commented on #217
Closed by #345

[2022-08-08 15:49] #217 closed

[2022-08-08 15:50] bobbinth commented on #358
Great! It is all yours! :)

[2022-08-09 04:57] 4rgon4ut commented on #337
@bobbinth @grjte I'm added rebase and squashing points to guide and fixed some typos. Would be great to know your thoughts about proposing version. Also, added clippy and rustfmt passing point to Pre-PR checklist.
As you can see I failed with proposing guide through [community standards](https://github.com/maticnetwork/miden/community) interface because proposing create PR to `main` with default b

[2022-08-13 05:13] tnachen commented on #298
Yes seems like exec in a local .masm is replaceable with a local index (though probably sorted as I assume order in the .masm file doesn't matter and shouldn't effect AST).
Is there a reason we don't just store the exec proc name similar to the parser (prefix::proc.label)?

[2022-08-13 07:37] bobbinth commented on #351
Closed by #359

[2022-08-13 07:37] #351 closed

[2022-08-13 22:31] bobbinth commented on #298
I think we can still store names in the AST. I was thinking more about the future when we want to serialize to binary and then, we should try to be as compact as possible. So, when serializing, we'd need to replace all local procedure names with indexes (which probably could fit in 1 - or 2 bytes), and I thought it might be easier to handle this from the start.

Another related reason is that we s

[2022-08-20 03:32] bobbinth commented on #337
Closed by #365 and 62e5889b503bafe601c378c95608969975f55aeb

[2022-08-20 03:32] #337 closed

[2022-08-20 14:15] zachanon opened #371 "Basic example failing"
Following along [here](https://github.com/maticnetwork/miden/tree/main/miden#proof-generation-example) I made a test file like so:

[code]

Then run:
`cargo test --package miden --lib -- example::test_sum --exact --nocapture`

That fails with message:
[code]

 Not sure what could be going wrong. Am I missing some build options on cargo?

[2022-08-20 18:00] bobbinth commented on #371
Most likely, this is due to the restriction that number of items on the stack at the end of program execution must be exactly 16 (described [here](https://maticnetwork.github.io/miden/intro/overview.html#stack-depth-restrictions)). A way to fix this would be to add `swap drop` at the end. So, the program would look like so:
[code]
This way, the result would still be at the top of the stack, but we

[2022-08-23 08:09] 0xKanekiKen opened #374 "Potential refactor of crypto operations"
According to @bobbinth, we could make `mtree_set` a bit more efficient by changing semantics of `MRUPDATE` from:

    [V, d, i, R, NV] -> [NR, d, i, R, NV]

to

    [V, d, i, R, NV] -> [V, d, i, NR, NV]

This should shave off 3 VM cycles from `mtree_set` and get it down to 11 cycles, but:

 - It would complicate handling of constraints for this operation since we change items at odd stack position

[2022-08-24 15:18] grjte commented on #305
Just a note that for changes to the handling of the stack overflow table described in #347 the type won't be able to change to `u32` in the [stack module in the processor](https://github.com/maticnetwork/miden/blob/next/processor/src/stack/mod.rs), so that one can be skipped.

If some changes are required in order to get all other changes in the codebase to compile, that will be fine - just keep i

[2022-08-25 03:08] zachanon commented on #371
Late getting back, but that indeed fixed it. Thanks. Fascinating project thanks for the work

[2022-08-25 03:08] #371 closed

[2022-08-26 09:27] tohrnii commented on #358
Closed by #366.

[2022-08-29 01:59] liamzebedee commented on #295
`std::stark would be nice to add this for recursive STARK verification - but this might be quite ambitious.`

Would love to see this @bobbinth.

[2022-09-03 14:38] eigmax opened #383 "Invalid read instruction error"
When I run the demo  https://github.com/eigmax/miden_demo/blob/main/src/main.rs#L78.

I got the error described [here](https://github.com/eigmax/miden_demo/issues/1):

[code]

Could you please give some tips how to debug this error ?

[2022-09-03 15:41] eigmax commented on #383
Looks `read` op is not supported from here: https://github.com/maticnetwork/miden/blob/main/assembly/src/parsers/mod.rs#L41

[2022-09-03 23:39] #383 closed

[2022-09-04 13:03] OLUWAMUYIWA commented on #357
Would love to work on this

[2022-09-04 19:27] bobbinth commented on #357
@OLUWAMUYIWA - thank you for volunteering! It is all yours.

[2022-09-05 18:55] OLUWAMUYIWA commented on #357
Sure. On it. Thanks

[2022-09-06 16:00] 0xKanekiKen opened #386 "Error in building auxiliary column trace"
I was writing out an integration test for `INV` stack operation when I stumbled across the error on running the following:

[code]

[code]

[2022-09-07 10:05] OLUWAMUYIWA commented on #335
I'd like to pick this up. If I need help, I can ask, right?

[2022-09-07 17:39] bobbinth commented on #357
Closed by #387

[2022-09-07 17:39] #357 closed

[2022-09-07 20:33] grjte opened #389 "Update design docs to reflect new stack overflow design"
The design docs for the stack overflow table should be updated to match the changes in #381 which allow the stack overflow table to be non-empty at the start and end of execution

[2022-09-08 20:19] bobbinth commented on #305
Closed by #376.

[2022-09-08 20:19] #305 closed

[2022-09-08 20:21] bobbinth commented on #335
@OLUWAMUYIWA thank you for volunteering! This might not be the best tasks to start right now as it will be affected by some other refactoring we have planned for the memory sub-system.

[2022-09-09 00:23] bobbinth commented on #137
Closing this as it was largely addressed in #282.

[2022-09-09 00:23] #137 closed

[2022-09-09 00:23] bobbinth opened #394 "Memory subsystem improvements"
I want to summarize the improvements to memory subsystem (memory operations + memory chiplet) which I'm hoping to get into v0.3 release (though, maybe not all of them will make it in). These are listed in no particular order.

1. Memory access trace refactoring. Currently, for each memory access we record both the old state of the memory and the new state. While this works fine (and doesn't add an

[2022-09-09 00:43] bobbinth commented on #347
Closed by #381.

[2022-09-09 00:43] #347 closed

[2022-09-09 12:14] OLUWAMUYIWA commented on #335
I see. Will look for something else

[2022-09-11 16:20] bobbinth opened #395 "Range checker improvements"
In the current implementation, the range checker component (described [here](https://0xpolygonmiden.github.io/miden-vm/design/range.html)) consists of two tables: 8-bit table and 16-bit table. We use a selector column to identify which table we are in.

This structure can be greatly simplified if we get rid of the 8-bit table entirely, and instead, use a single constraint to allow "jumps" between

[2022-09-13 08:10] grjte commented on #200
@bobbinth or @0xKanekiKen what's the status of this issue? The binacc PR has been open for a while. Is this change on hold?

[2022-09-13 08:15] bobbinth commented on #200
Yeah - for now I'm not sure if we need a dedicated `binacc` operation.

[2022-09-13 18:40] itzmeanjan opened #398 "Improve Confidence in Degree-511 Polynomial Arithmetic in Miden Assembly"
At this moment we've static set of test cases for degree-511 polynomial arithmetic, implemented in Miden Assembly. These routines are used for verifying Falcon-512 digital signature ( see https://github.com/maticnetwork/miden/pull/369 ). I'd like to get more edge cases covered by generating dynamic test cases - ensuring functional correctness of assembly routines.

- See [here](https://github.com/

[2022-09-13 23:35] maxgillett opened #399 "Fix unescaped character failures during assembly module build process"
When generating combined assembly module file `asm.rs`, a backlash within commented code in a `.masm` file produces an unknown character escape error and causes the build process to fail. This has been addressed by switching to a raw string literal in the pending commit https://github.com/maticnetwork/miden/pull/373/commits/59b20b5688d33426a0d7ee32f01e2afdd06ee0de, but we should ensure that this c

[2022-09-13 23:43] maxgillett opened #400 "Update user docs to more accurately describe mtree_set operation"
The documentation for `mtree_set` currently states that the Merkle tree with the old root is removed from the advice set map in the advice provider, but not that the new tree resulting from the update is also inserted into the advice set. This should be clarified to prevent confusion.

[2022-09-15 05:44] bobbinth opened #401 "Advice provider refactoring"
After #393 is done, we will have refactored all IO operations except for the ones which deal with the advice tape. These operations are: `push.adv.n` and `loadw.adv`.

First, we should probably rename these operations to be consistent with the new naming conventions. Specifically:
* `loadw_adv` should be `adv_loadw`.
* Renaming `push_adv.n` is a bit more tricky since we use only load/store verbs i

[2022-09-16 07:53] frisitano commented on #401
Is the idea to initialise the advice provider map with advice tapes for all possible permutations that may be required by the conditional program or would the advice tapes be constructed dynamically as required?  I think the latter is a more powerful construct especially in the context of performing db lookups to fetch merkle inclusion proofs from a db backend which would serve as advise sets.

[2022-09-16 15:53] bobbinth commented on #401
I think the initial implementation can be pretty simple and assume that all tapes are in memory. We can improve on this later with a more sophisticated implementation which can perform layered lookups (i.e., check memory first, and if not go to the database).

My first goal is to make sure the "front end" of the VM (i.e., the assembly language) is powerful enough to handle these use cases efficien

[2022-09-16 18:26] bobbinth commented on #350
Closed by #393

[2022-09-16 18:26] #350 closed

[2022-09-21 04:03] tohrnii commented on #138
The things we have currently in the program analysis tool.
- [x] Number of VM cycles it takes to execute a program.
- [x] Number of NOOPs executed as part of a program.
- [x] Total number of cycles required to execute a particular assembly instruction and the average number of cycles per instance of that instruction.

Other things that might be interesting to add to the program analysis according

[2022-09-21 06:10] bobbinth commented on #138
We could probably go into a bit more detail for these. For example:

* Range check info:
  - Length of range-checker trace (before padding)
  - Number of unique range-checked values [probably a nice-to-have]
* Hasher info
  - Overall length of hasher trace
  - Length of hasher trace required for program hashing [might be non-trivial to get]
  - Number of rows in the hasher by hash type - e.g., 2-t

[2022-09-21 07:49] mariari opened #407 "Advice Providers from the standalone binary"
I'm trying to test some miden code I've generated from the standalone binary, but it seems like there is no way to feed the binary with a starting advice provider

[code]

Is there any way to accomplish this currently?

[2022-09-21 10:05] grjte commented on #138
Great, thanks @tohrnii @bobbinth ! I updated the issue with the list. Once the current related PR #315 is updated and merged maybe we can prioritize this list (identify which things we want in the next release) and think about splitting some of these into separate issues (perhaps with a new tag)? Thoughts?

[2022-09-21 17:40] bobbinth commented on #407
With #408 it is now possible to provide values for populating the advice tape, but as I mentioned above, a more comprehensive support will be added after #406 is done.

[2022-09-21 21:45] bobbinth opened #409 "Tracking issue: Advice Provider refactor (Options for external interface for the VM)"
### Goal:
Refactor the advice provider as described in the discussion below to improve the external interface to the VM.

[code]

### Working group:
@vlopes11, @bobbinth, @tohrnii

@grjte edit: I've added the above information for reference, but kept @bobbinth's original description in the details below.

### Details

I've started working on implementing a `SYSCALL` operation (for kernel calls) an

[2022-09-22 00:46] bobbinth commented on #401
I've realized that adding multiple advice tapes to the advice provider may not cover all the use cases we want and that there might be a better way. The main problem with multiple advice tapes is that we are trying to simulate a key-value map, but it is a key-value map where value under each key can be read only once. If we wanted to read a value under the same key twice, the multi-tape approach w

[2022-09-22 02:58] mariari commented on #407
Thank you for the quick change in #408, it seems I'm still getting `Executing program... Failed to generate exection trace = EmptyAdviceTape(1)` however

[2022-09-22 03:04] mariari opened #410 "Outdated Documnetation Site"
Although the [documentation on github gives the correct instructions](https://github.com/maticnetwork/miden/blob/main/docs/src/user_docs/assembly/io_operations.md#non-deterministic-inputs), the [actual doc site which is linked](https://maticnetwork.github.io/miden/user_docs/assembly/io_operations.html) gives the wrong instructions.

It would be nice for the docs site to be updated with the proper

[2022-09-22 03:44] bobbinth commented on #410
So, the issue is that docs in the main branch on Github are for v0.2 release while docs on the [site](https://maticnetwork.github.io/miden/intro/main.html) are for the `next` branch. So, if you are using v0.2 (or the `main`) branch - Github docs are the relevant ones, but if you are using `next` branch, then the site docs are the relevant ones.

I don't think we explain this anywhere, and I can se

[2022-09-22 04:08] bobbinth opened #411 "Improvements to simplify exponentiation"
To be able to verify FRI proofs efficiently within the VM, we need perform some number of exponentiations in the field. Currently, this will be relatively expensive - i.e., probably a couple of hundred cycles, if not more. So, it would be nice if the assembly provided something like an `exp` instructions. This instruction would work as follows:
[code]
This would be exponentiation in the field. Spe

[2022-09-22 06:06] mariari commented on #288
It would be nice to have a good place to contribute examples. I have a few of my own that I've generated

[Fibonacci with the iteration amount from user input](https://github.com/anoma/zkp-compiler-shootout/blob/main/miden-assembler/miden/fib.masm)

[Sudoku verifier. Currently in the process of testing](https://github.com/anoma/zkp-compiler-shootout/blob/main/miden-assembler/miden/sudoku.masm)

[I

[2022-09-22 08:30] frisitano commented on #401
Out of interest why does the multi-tape approach not work for multiple reads.  Is it because the tapes would be drained when they are read the first time?

I wonder if we should introduce an additional field into the advice provider in the from on an `AdviceProviderBackend` such we have:

[code]

It would then be the responsibility of the `AdviceProvider` to call into the backend to retrieve data

[2022-09-22 08:44] #407 closed

[2022-09-23 00:52] bobbinth commented on #401
Yes, exactly. When we read an element, it is removed from the tape.

I was thinking about something like this myself, though, in my mind it would probably make sense to make the whole advice provider a trait. This trait could look like:
[code]

Then, when we need to generate a proof, we could pass any implementation of an advice provider to the `prove()` function, which could have the following in

[2022-09-23 07:11] frisitano commented on #401
Sounds good to me :+1:

[2022-09-26 14:58] frisitano commented on #409
I tend to favour the stateful VM solution.  It best aligns with my intuition / mental model of how a virtual machine should operate.  In my mind a virtual machine should have some concrete os (kernel) with a storage backend (AdviceProvider) from which I can execute programs.  Had you considered putting all functionality under a single struct? Something like this:

[code]

Even though the change to

[2022-09-26 22:59] bobbinth commented on #401
Closed #406. The discussion about converting advice provider into a trait is moved to #409

[2022-09-26 22:59] #401 closed

[2022-09-26 23:24] bobbinth commented on #409
I think the above could be the interface for the whole Miden VM, but I'd also like to keep the `Processor` part separate. So, internally it probably makes sense for the `MidenVM` struct to contain `Processor` struct. Or, we could keep the processor stateless, but have the VM stateful.

Agreed regarding passing Kernel to the assembler. I'm actually already working on this.

One other thing, I think

[2022-09-27 04:45] bobbinth commented on #409
Actually, I'm not sure if the last thing I suggested above is viable - mainly because different databases may have different ways of handling transaction. So, for example, consider transactions in [sled](https://docs.rs/sled/latest/sled/struct.Tree.html#method.transaction). With the stateless approach we could do something like:
[code]
But I'm not sure what to do in the stateful approach.

[2022-09-28 17:41] Al-Kindi-0 opened #417 "Memory layout of procedure locals"
The current issue is related to procedure locals. The following example illustrates the issue:

[code]
Intuitively, the following code should work but it raises an error because of the assertion. After discussing it with @bobbinth, it seems that the memory layout is not in increasing order but is decreasing. This means that the above code should work when substituting `add.1` with `sub.1` and that

[2022-09-29 09:57] frisitano commented on #409
Good catch.  It does look like it will add additional complexity.  Maybe best to avoid such a change at this point.  In that case I personally favour the first approach where dependencies are specified exhaustively without encapsulation of the kernel inside of a `Program` struct.  In my mind the kernel and the program are distinct components and should be represented as such.

Why is the `kernel`

[2022-09-29 15:41] grjte opened #418 "Implement SYSCALL operation for kernel calls"
Implement the `SYSCALL` operation and the associated assembly instruction, as well as all related kernel changes, updates to the decoder, chiplets, and docs.

[2022-09-29 15:41] grjte commented on #418
Current work is in #412

[2022-09-29 19:45] bobbinth commented on #418
Once this is done, we'll also be able to close #231

[2022-09-29 20:14] bobbinth commented on #409
Semantically all procedures are independent of each other - so, putting them into a MAST is probably an overkill. We could do a simple Merkle tree of procedures - but that would complicate checking which procedure was called during program execution (which are are planning to do via kernel ROM).

I'm not expecting the number of procedures in a kernel to be too big (e.g., [here](https://github.com/

[2022-09-30 14:40] bobbinth commented on #411
With #415 we have the basic implementation completed. I think we need to do 2 more things to close this off:

* Implement parametrized version of `exp` instruction - e.g., `exp.u32`, `exp.123456` etc.
* Update (or remove) `pow2` instruction.

[2022-10-06 06:32] bobbinth commented on #411
Closed by #415 and #420

[2022-10-06 06:32] #411 closed

[2022-10-06 15:15] grjte opened #423 "Create Miden REPL"
We'd like to create a REPL in the processor crate that works like the [one](https://github.com/ControlCplusControlV/Scribe/pull/13) in the [Scribe project](https://github.com/ControlCplusControlV/Scribe), but with the following changes:

* Print out instructions message on startup
* Use a prefix for REPL commands to avoid future potential collisions with assembly instructions (e.g., maybe somethin

[2022-10-06 18:05] bobbinth commented on #417
Closed by #421

[2022-10-06 18:05] #417 closed

[2022-10-07 08:52] 0xKanekiKen commented on #200
Closed by #420.

[2022-10-07 08:52] #200 closed

[2022-10-11 08:04] #398 closed

[2022-10-12 11:43] itzmeanjan commented on #398
Yes thanks. In a future date, I'd like to have more coverage for Falcon DSA verification routine. For that we'll have to implement Falcon DSA specification as part Miden crypto library.

[2022-10-13 15:43] grjte commented on #335
Closed by #404

[2022-10-13 15:43] #335 closed

[2022-10-17 12:09] vlopes11 opened #431 "Add `u32` saturating add"
We support most of u32 native operations for common CPU architectures, such as wrapping, overflowing and checked.

However, we miss the `saturating` variant. This is commonly used in programs and allows the user to perform subtractions without having to check underflow, or undesired wraps. It can also safely allow the user to accumulate values up to the limit - when these limits won't represent a

[2022-10-17 20:44] vlopes11 opened #433 "Consider using `release` for CI tests"
Currently the CI check is taking several minutes.

We can sacrifice build time to improve the test execution by adding the argument `--release` to the CI tests

https://github.com/maticnetwork/miden/blob/30afebad83fae8651f25d65e739c907b94d678d9/.github/workflows/ci.yml#L28

[2022-10-17 21:39] 0xKanekiKen commented on #433
We have a few `debug_assert` statements in the VM which doesn't run in release mode. We used to build tests in release mode earlier to make it faster, but then in some cases, these `debug_assert` statements were failing locally but passing on GitHub. Thus we decided to revert to building tests in debug mode.

[2022-10-18 07:22] grjte commented on #433
Yep, thanks @0xKanekiKen. We're definitely open to other ideas for speeding up test execution though. One thing we've discussed - there are quite a few full "prove and verify" air tests now in the integration tests in the Miden crate, and these are slow. Condensing them into just a couple full tests (and ensuring sufficient unit tests instead) would help reduce the time

[2022-10-18 07:37] vlopes11 commented on #433
Sounds good, its clear!

We have one alternative that is to enable debug assertions for the release mode.

Assuming we have an example like this:

[code]

If we `$ cargo test`, it will naturally fail, and will pass if we `$ cargo test --release`

However, if we enable the assertion, it will fail (as we want to) for both of the following cases

`$ RUSTFLAGS="-C opt-level=3 -C debug-assertions" carg

[2022-10-18 15:34] grjte commented on #386
@0xKanekiKen This seems to be passing now when I test it.

[2022-10-18 15:34] #386 closed

[2022-10-18 15:45] 0xKanekiKen commented on #386
Thanks, @grjte for investigating it.

[2022-10-18 18:00] grjte commented on #433
Great! Thanks for the suggestion

[2022-10-19 21:00] vlopes11 opened #437 "Cargo test with `--concurrent` fails"
If a test with all features is executed, it fails for the following cases

[code]

We should consider adding two new steps to the CI: one with `--all-features` & other with `--no-default-features`

[2022-10-20 08:35] vlopes11 commented on #103
Upd for future ref: hasher was moved to chiplets
https://github.com/maticnetwork/miden/blob/fb4df53942d36c2348ca926070a224fb37f18c57/processor/src/chiplets/hasher/mod.rs

[2022-10-20 16:21] bobbinth commented on #433
Closed by #435

[2022-10-20 16:21] #433 closed

[2022-10-20 21:31] tohrnii commented on #360
Regarding computing lookups as the requests are made by the decoder, this is being worked on in PR #436 (the code is WIP and not very readable right now). The issue with this approach is that the context about the blocks is lost for intermediate requests while respan is called for span blocks, and when `read_hash_result` is called for control blocks and the only place to get this context from is t

[2022-10-21 07:25] vlopes11 opened #442 "Print VM cycles after CLI execution"
Consider printing also the used VM cycles after the execution of a CLI masm program.

This will provide insightful information over performance, highlighting the difference when a script is plainly expensive, or the VM needs some performance tweak.

_Originally posted by @bobbinth in https://github.com/maticnetwork/miden/pull/432#pullrequestreview-1149981918_

[2022-10-21 18:19] grjte commented on #360
Currently, the first and third items from the issue description have been updated and we've gotten improvements from these. The final change (how lookups are requested) wouldn't reduce the amount of data we're storing, it would just change the interface so we wouldn't manage these intermediary `queued_requests`. Given the complications introduced by control block memoization that @tohrnii has poin

[2022-10-23 05:26] bobbinth commented on #360
Sorry for the delay on this (I've been trying to think it through)!

First, I should say that I'm very happy with the results we've gotten so far, and I'm fine with closing this issue as remaining work will give us only marginal benefit. So, we can drop the work done in #436.

Having said that, I think we should keep an open issue for the remaining work (i.e., figuring out how to get rid of `queue

[2022-10-24 17:27] grjte commented on #360
If I understand correctly, you're suggesting adding new methods in the chiplets to add the hasher lookups rather than having them be part of the methods control block and span block methods in the `hasher` module. The decoder would call these methods at the appropriate cycle, and they would be immediately added.

I agree that this should be simpler than the current approach. The only complexity is

[2022-10-24 17:27] grjte commented on #360
@tohrnii is there anything either of us are missing here?

[2022-10-25 13:26] vlopes11 commented on #437
Update: the feature that is broken is `concurrent`

[2022-10-25 14:17] vlopes11 commented on #298
One option to remove the stdlib as dependency of the assembly is to deprecate `use` and create a new token `import.

This new token will consume a given `SourceProvider` and will append contents to the current context. We end up being more flexible since we don't import whole modules, but only what is in the imports.

The souce provider will be a mapping `str -> str` that will normally map from a

[2022-10-25 15:41] Dominik1999 commented on #442
I would love to work on this

[2022-10-25 17:43] tohrnii commented on #360
Sorry for a late response.
@bobbinth Thanks for the clarification. It makes a lot of sense to build the trace first at once and compute the lookups later for span blocks.

You are right, it was required with earlier structure as we were building the trace and computing the lookups together as the decoder sends the request.

Thanks. Yeah makes sense. I made a mistake in thinking through this.

I'll

[2022-10-25 19:51] tohrnii opened #446 "Remove queued_requests from the hasher"
Currently, the entire hash computation is done when the decoder makes its initialization request and all intermediate lookups required for the correctness of $b_{chip}$ are queued. When the decoder needs subsequent lookups (e.g. as it absorbs new operations during RESPAN or when the completes code blocks and needs the return hash), it sends a request, and they are dequeued and sent to the $b_{chip

[2022-10-25 19:54] tohrnii commented on #360
1st and 3rd items in this issue have been completed by #424 and #430.
2nd item in this issue is being tracked in issue #446.

[2022-10-25 19:54] #360 closed

[2022-10-25 20:44] bobbinth commented on #229
Closed by #438

[2022-10-25 20:44] #229 closed

[2022-10-26 09:19] Dominik1999 commented on #410
We now have two documentations:

- Stable v.0.2.0 release under https://wiki.polygon.technology/docs/miden/intro/main/
- Next branch release under https://miden.polygon.technology/

I will create a PR to change our README to let everyone know.

[2022-10-26 09:19] #410 closed

[2022-10-26 09:36] Dominik1999 commented on #288
We have this Repo now for examples - https://github.com/0xPolygonMiden/examples. It is not filled yet, but I will migrate all examples over and make them work against the latest stable version.

Not sure whether to keep the examples in Rust Files or create `.masm` and `.input` files.

I love the idea if @tohrnii having a playground where we could showcase those examples.

[2022-10-26 20:18] bobbinth commented on #288
I think to the extent possible, we should use `.masm` and `.input` files rather than code examples directly in Rust.

[2022-10-27 07:12] Dominik1999 commented on #288
ok, that makes it easier as well

[2022-10-27 14:30] #288 closed

[2022-10-27 20:04] vlopes11 opened #456 "Create a rustfmt.toml definition"
Consider standardizing the rustfmt definitions so we have a consistent style across the project

This will also halt the CI when there is something out of style so we automatize this review

_Originally posted by @bobbinth in https://github.com/maticnetwork/miden/pull/450#discussion_r1007247147_

[2022-10-28 07:37] bobbinth commented on #456
If we will be defining out own rustfmt rules, maybe we could also consider setting the following parameters:
[code]

[2022-11-01 21:48] bobbinth commented on #399
Closed by #458.

[2022-11-01 21:48] #399 closed

[2022-11-03 10:10] vlopes11 opened #462 "Optimize bytes serializer for Assembly"
Currently, the bytes serializer users internally an allocated `Vec<u8>`

This allocation is not necessary and it could work with a slice of bytes in order to optimize its runtime overhead

https://github.com/maticnetwork/miden/blob/4553652a2a91e269d085415ebbe1cc3e49b715ba/assembly/src/parsers/ast/mod.rs#L59

_Originally posted by @bobbinth in https://github.com/maticnetwork/miden/pull/461#discussi

[2022-11-03 11:00] amankrx commented on #462
Hey, Can I work on this issue?

[2022-11-03 11:03] vlopes11 commented on #462
from my side, most definitely welcome! just double check with @bobbinth and @grjte

[2022-11-03 11:12] vlopes11 opened #463 "Pick a digest for procedure ID computation"
The procedure ID must be a deterministic computation that consumes as argument the label of the procedure.

Most likely it should be a broadly used efficient hash such as blake3 or sha256, truncated to the size of the procedure id

_Originally posted by @vlopes11 in https://github.com/maticnetwork/miden/pull/461#discussion_r1012762841_

[2022-11-03 11:14] vlopes11 opened #464 "stdlib docs generation refactor"
Currently we have are using different pipelines to build the id |-> ast mapping and the docs from its asm source

We should refactor this structure to have a single pipeline so we don't run the risk of having one outdated in relation to the other

_Originally posted by @vlopes11 in https://github.com/maticnetwork/miden/pull/461#discussion_r1012764311_

[2022-11-03 11:15] vlopes11 opened #465 "Reduce stdlib module provider to a single mapping"
Currently, to support legacy implementation, we provide multiple mappings in stdlib so it will have a minimal impact downstream.

However, it is desirable to have these as a single id |-> ast mapping

_Originally posted by @vlopes11 in https://github.com/maticnetwork/miden/pull/461#discussion_r1012764915_

[2022-11-03 18:45] Dominik1999 opened #466 "'main transition constraint 1 did not evaluate to ZERO at step 103'"
I encounter weird behaviour with either Miden or my code.

When I try to prove my example Assembler Code importing Miden, I get
[code]

Here is a min example of a program. It is related to the `if.true` procedure, see @0xKanekiKen 's comment below.

[code]
I created an example repo to reproduce because it might also be wrong imports, see here https://github.com/Dominik1999/minimal_example

However

[2022-11-03 18:55] Dominik1999 commented on #466
the `stack_init` get's correctly deserialized as `[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0]`

[2022-11-03 22:07] bobbinth commented on #464
The idea is that this will be available at the AST level. For example, `ProcedureAst` will look something like this:
[code]

Where `docs` would contain doc comments associated with the procedures.

[2022-11-03 22:11] bobbinth commented on #463
We already use `BLAKE3` for this (e.g., [here](https://github.com/maticnetwork/miden/blob/next/assembly/src/parsers/ast/context.rs#L314). We should just propagate this struct to all applicable places (e.g., to [here](https://github.com/maticnetwork/miden/blob/next/assembly/src/parsers/ast/nodes.rs#L240)).

In the future, once [this](https://github.com/0xPolygonMiden/crypto/issues/6) is implemented

[2022-11-03 22:14] bobbinth commented on #462
@amankrx - that would be awesome! I've assigned it to you. Thank you!

[2022-11-03 22:30] 0xKanekiKen commented on #466
The issue seems to be in the overflow stack air constraint, particularly the constraint that enforces the `stack depth`.

After a glance, I see the following on the step where we are facing this issue:
`operation flag`: `split` opcode is the only non-zero, but it's not a one either - `4294967295` is the flag value I'm seeing.
opcode value in current frame: `[4294967295, 0, 4294967295, 4294967295,

[2022-11-03 23:53] bobbinth commented on #423
Closed by #440.

[2022-11-03 23:53] #423 closed

[2022-11-04 00:06] bobbinth opened #469 "Serialization of Miden assembly libraries"
Currently, we have only a single library - `stdlib`. When we serialize AST structure for the library, we put it directly into a Rust file (`asm.rs`). As we make the structure more general, it would probably be a good idea to have a stand-alone format which is language independent.

We can probably do something as simple as serialize ASTs (similar to how we do it now) into a separate binary file, a

[2022-11-04 07:25] bobbinth opened #471 "Handling of local procedures in AST parser"
Currently, in [ProgramAst](https://github.com/maticnetwork/miden/blob/next/assembly/src/parsers/ast/mod.rs#L32) and [ModuleAst](https://github.com/maticnetwork/miden/blob/next/assembly/src/parsers/ast/mod.rs#L77) structs local procedures are stored in a map where the key is procedure name.

This map is needed only during parsing, and is not necessary for the overall structure. Instead, we should s

[2022-11-04 08:09] Dominik1999 commented on #466
Got it. One day you need to show me how you debug this. Looks super interesting. One question though, in Miden Assembly
`[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0]` is treated as bool, right? So I do not need to write `[false, true, ...]`?

[2022-11-04 09:21] Dominik1999 commented on #400
So to clarify: At the moment, the docs state:

[code]

My questions:
- Is in this case `advice provider` equal to `Stack`?
- Is it sufficient to change the last sentence of the above description to `At the end of the operation Merkle tree with root R is removed from and the new Merkle tree with root R' is inserted to the advice provider.`

[2022-11-04 14:53] bobbinth commented on #463
Closed by #468

[2022-11-04 14:53] #463 closed

[2022-11-04 17:12] Dominik1999 commented on #466
Also, all my examples here fail if there is a `if.true` procedure ...

https://github.com/0xPolygonMiden/examples/pull/3/files

[2022-11-04 17:17] Dominik1999 commented on #466
ok, so as a min example, even this fails:
[code]

with

[code]

[2022-11-04 17:57] bobbinth commented on #462
Closed by #472. Thank you @amankrx again for fixing this!

[2022-11-04 17:57] #462 closed

[2022-11-04 18:01] amankrx commented on #462
Thanks for assigning me this issue. Will learn a bit more about this, and contribute again soon.

[2022-11-05 12:48] ruuderie commented on #442
@Dominik1999 do you want to pair on this?

[2022-11-05 20:14] bobbinth opened #474 "Tracking issue: Migrate to Rescue Prime Optimized hash function"
### Goal(s)

Switch the Miden VM's native hash function to RPO.

@grjte edit: I've added the goal and working group information, but kept the details from Bobbin's original description.

### Details

Currently, the native hash function of the VM is a non-standard variation of Rescue Prime. Besides being non-standard, it has several disadvantages which we can remedy by switching to Rescue Prime Opt

[2022-11-05 22:18] bobbinth commented on #336
A more concrete description of what we could do here. Suggestions on better names for operations/instructions are welcome.

### Add PIPE operation and related assembly instruction
As described above, the `PIPE` operation would move 8 elements from the head of the advice tape into memory via the stack. The semantics of the operation are as follows:

Denoting stack registers as $s_0, ..., s_{15}$ wi

[2022-11-07 08:18] Dominik1999 commented on #400
Got it, thanks

[2022-11-07 11:23] grjte commented on #400
Closed by #476

[2022-11-07 11:23] #400 closed

[2022-11-07 14:35] Dominik1999 commented on #442
Hey @ruuderie yes, sure. I created a PR that does what we want, but there are tests missing. I am unsure how to test the CLI in general, but if you have some ideas please go ahead.

[2022-11-07 19:16] bobbinth commented on #418
Closed by #451

[2022-11-07 19:16] #418 closed

[2022-11-07 21:10] bobbinth commented on #471
Closed by #471

[2022-11-07 21:10] #471 closed

[2022-11-07 23:52] bobbinth commented on #466
@Dominik1999 - this should be fixed by #479. Could you verify and if all looks good close this issue?

[2022-11-08 14:32] Dominik1999 commented on #466
@0xKanekiKen @bobbinth thanks a lot.

It might be me, but when I run my min. example or Game of Life using

[code]

and building it new. The same error message appears:

[code]

[2022-11-08 15:43] 0xKanekiKen commented on #466
@Dominik1999: Can you try running the example by deleting the cargo.lock file? I think it's not using the up to date `next` branch of Miden.

[2022-11-08 15:51] Dominik1999 commented on #466
Works now like a charm when I use this import:

[code]

This should be better with the new release. Then I can simply import the package, right?

[2022-11-08 15:51] #466 closed

[2022-11-08 16:28] bobbinth opened #483 "Update decoder design docs"
The latest changes need to be reflected in the decoder design docs. These include:

1. Handling of CALL and SYSCALL blocks.
2. Updates to the block stack table.

[2022-11-08 16:32] bobbinth opened #484 "Update user docs for v0.3 release"
We introduced quite a few new things for v0.4 release. Some of them have already been described in the docs, but many haven't. We should update the docs to explain how to use these features. The things that still need to be documented are (though, maybe I'm missing something):

* Memory contexts and layouts.
* Semantics of a a CALL instruction.
* Kernels and semantics of a SYSCALL instruction.

Th

[2022-11-09 19:25] bobbinth commented on #231
Closed by #375, #377, #403, #412, #443, #451, and #475.

[2022-11-09 19:25] #231 closed

[2022-11-11 06:09] tohrnii opened #493 "Decorator handling in the new AST parser"
We should update handling of decorators like advice provider operations in the new AST parser.

_Originally posted by @bobbinth in https://github.com/maticnetwork/miden/pull/488#pullrequestreview-1175969695_

[2022-11-14 15:55] bobbinth commented on #336
Closed by #486, #488, and 491.

[2022-11-14 15:55] #336 closed

[2022-11-16 22:09] grjte opened #500 "Change `mem_store` to drop the stored value from the stack"
`mem_load` pushes a single element onto the stack, whereas `mem_store` saves an element in memory and leaves it at the top of the stack. In practice, `mem_store` seems to almost always be used in conjunction with `drop` (e.g. `mem_store.1 drop`).

It seems to make sense to change `mem_store` so that it mirrors the `mem_load` functionality by popping the element off the stack and then storing it.

[2022-11-16 23:11] grjte commented on #484
The advice map doesn't seem to be in the user docs. Should this be added too?

[2022-11-17 11:14] Al-Kindi-0 opened #506 "`adv_loadw` and stdlib"
After rebasing from the latest `next`, including the instruction `adv_loadw` gives the following error:

[code]

A minimal failing example can be the following procedure anywhere in `stdlib`:
[code]

The PR solving this issue should include a failure test in the spirit of the above.

[2022-11-17 13:11] Dominik1999 opened #510 "Can't import libraries in Assembly - assembly error at 0: module source not found: std::crypto::hashes::blake3"
I want to import miden and its modules into a small program. So I also import every module via the miden crate.

When I try to compile a simple program that imports a library, I get the following:

[code]

This is the program:

[code]
If I don't import the library and write a super simple Assembly program - `begin push.1 end` it works.

I import Miden in my `Cargo.toml` like:

[code]

___

To me,

[2022-11-17 14:59] matthiasgoergens opened #511 "Recursive ZKP?"
Are there any plans to introduce recursive proofs?  Ie proofs that include validation of other proofs?

Ideally, perhaps via a new instruction in MASM?

[2022-11-17 15:28] grjte commented on #506
Since the error is a parsing failure, I think the test for this should just be a unit test in the assembly crate of the `adv_loadw` parser

[2022-11-17 21:20] tohrnii commented on #506
I think PR #513 by @vlopes11 has a fix for the issue. I was going to submit PR with a similar fix. Maybe we can close this issue after that PR is merged?

[2022-11-17 21:25] vlopes11 commented on #506
@tohrnii yes, it will indeed fix that problem. we expect to merge 513 soon, but it might be worthy to create an isolated PR to fix that specific issue if we need this fix to land ASAP

[2022-11-17 22:37] vlopes11 opened #514 "Invalid procedure body causes panic"
We have the following code marked as unreachable, but in fact it can be triggered by user input

https://github.com/maticnetwork/miden/blob/268742dda05d5383e61fe0c533db00dbf8b19c27/assembly/src/parsers/ast/context.rs#L299-L301

The following program will hit this unreachable statement

`proc.foo add mul begin push.1 end`

The error message for this program should be a procedure without a matching

[2022-11-17 23:39] vlopes11 opened #515 "Warn of unused imports"
Currently the parse imports will create a map of all declared imports in the MASM file, without validating a list of available modules.

When the compilation pipeline is completed, a usage of this function would lead to a module not found error. The pipeline correctly implements the module load with a lazy approach; meaning it will load & compile as the body of the procedures requires them.

Howev

[2022-11-18 06:32] Al-Kindi-0 commented on #506
Trying to sidestep the problem by substituting `adv_loadw` with their `adv_push` equivalent, I found this new but I believe related error:
[code]

[2022-11-18 06:55] tohrnii commented on #506
@Al-Kindi-0 There is an open issue #493 for that.

[2022-11-18 07:06] Al-Kindi-0 commented on #506
Thanks @tohrnii

[2022-11-18 09:29] grjte commented on #510
Hi @Dominik1999 thanks for bringing this up. Part of the confusion is that things have changed in the new release and the docs are lagging a bit, so we do indeed need to update. I think it would also be great to add an example that uses the standard library in our examples repo.

The main issue here is that you're not providing the library to the `Assembler`, so it doesn't know about it. You can s

[2022-11-18 11:49] calummoore opened #519 "Named breaks"
Currently there is no way to break early from code, other than using lots of nested `if` statements.

We're proposing to add a `block.<name>` and `break.<name>` to the Miden assembly language.  This would enable us to skip blocks of code more easily, and thus implement better `throw`, `return`, `continue` and `break` logic.  This is similar [block in WebAssembly](https://developer.mozilla.org/en-U

[2022-11-18 17:54] grjte commented on #519
@calummoore this would be great! I'll assign it to you. I don't have any comments at the moment, but we're happy to answer any questions you run into. I'm sure @bobbinth will weigh in if he has any other thoughts on this

[2022-11-19 09:01] Dominik1999 commented on #510
Thanks grjte!

Now the Assembler finds the module and compiles.

But proving the program results in

[code]

Maybe I should wait for the new release?

[2022-11-21 05:00] bobbinth commented on #464
Closed by #494

[2022-11-21 05:00] #464 closed

[2022-11-21 05:05] bobbinth commented on #493
Closed by #522

[2022-11-21 05:05] #493 closed

[2022-11-21 06:09] bobbinth commented on #519
@calummoore - this would be a very cool feature and I love the WASM-style block breaks! A couple of (very preliminary) thoughts from me:

- Doing this at the MAST level would be super difficult (I actually don't know how to do it) - so, this will probably need to be emulated at a higher level.
- After the assembler refactoring is complete (which should happen in the next day or two) we have two po

[2022-11-21 06:14] bobbinth commented on #500
I agree with this change. I checked `stdlib` files and we always have `mem_store drop` sequence.

One note: if we are making this change, we should also do the same thing with `loc_store` instruction (it is also always followed by `drop` in `stdlib` files).

Let's add this to v0.3 (but we should implement this in the new assembler structure).

[2022-11-21 14:48] tohrnii commented on #506
Closed by #517.

[2022-11-21 14:48] #506 closed

[2022-11-21 19:02] bobbinth commented on #298
Closed by #490 and many others.

[2022-11-21 19:02] #298 closed

[2022-11-21 19:02] vlopes11 opened #535 "Use core Range for interval checks"
We should use [Range](https://doc.rust-lang.org/std/ops/struct.Range.html) for interval checks, given their nature to reduce chances of error for repeated checks, and will cause no overhead due to their efficient implementation

They are also idiomatic to Rust and expected in many libraries and trait implementations

_Originally posted by @vlopes11 in https://github.com/maticnetwork/miden/pull/526

[2022-11-21 19:05] bobbinth commented on #465
Closed by #531 and others.

[2022-11-21 19:05] #465 closed

[2022-11-21 19:07] bobbinth commented on #506
@tohrnii @Al-Kindi-0 - could we double check if this works against the latest `next` branch?